<div id="error-div"></div>
<div id="upload-day0-div"></div>
<script type="text/javascript">

function onSaveSuccess(result)
{
    //
    // just to to the runs view for now
    //
    window.location.href = LABKEY.ActionURL.buildURL('assay', 'assayRuns', null,
            {rowId:LABKEY.page.assay.id});
}

function onSaveFailure(result)
{
    //
    // you can fill this in if you want
    //
}

function submitAdaptation(propsForm, flasksForm)
{
    if (!validateForm())
        return;

    // first create a blank experiment object
    var exp = LABKEY.icemr.tracking.createExperiment();
    var i;

    for(i = 0; i < propsForm.items.items.length; i++){
        exp[propsForm.items.items[i].id] = propsForm.items.items[i].value;
    }

    var flasks = [];
    var numFlasks = flasksForm.items.items.length;

    for (i = 0; i < numFlasks; i++)
    {
        // when the client adds a flask, create a blank flask object to fill in
        var flask = LABKEY.icemr.tracking.createFlask();
        var target;
        flask['PatientID'] = exp['PatientID'];
        var si = (i+1).toString();
        for(var r = 1; r < flasksForm.items.items[i].items.items.length; r++){
            target =  flasksForm.items.items[i].items.items[r];
            flask[target.id.substring(0, target.id.length-si.length)] = target.value;
        }
        flasks.push(flask)
    }

    //
    // do the upload now
    //
    LABKEY.icemr.tracking.saveDay0(exp, flasks, onSaveSuccess);
}

function goBack()
{
    window.history.back();
}

function showRuns()
{
    window.location.href = LABKEY.ActionURL.buildURL('assay', 'assayRuns', null,
            {rowId:LABKEY.page.assay.id});
}

function validateForm()
{
    // clear out error messages.
    handleError("", true);

    var form = Ext4.getCmp('upload-day0-form');
    if(form.getForm().isValid())
        return true;
    else
        handleError("Errors in your submission. See below.");
    return false;
}

function handleError(msg, reset)
{
    var errorEl = document.getElementById('error-div');
    if(!(reset))
    {
        errorEl.innerHTML += "<span style='color:red;'>> " + Ext4.util.Format.htmlEncode(msg) + "<br/></span>";
    }
    else
    {
        errorEl.innerHTML = "";
    }
}

function adjustSizes()
{
    var flasksBox = Ext4.getCmp('flasksBox');
    var firstFlask = flasksBox.items.items[0];
    var i, r, flaskFields;


    // Adjust heights of overall element to match the height
    // of the first flask column.  These are wider because of
    // the label which may span multiple lines
    for(i = 1; i < flasksBox.items.items.length; i++)
    {
        flaskFields = flasksBox.items.items[i].items.items;
        for(r = 1; r < flaskFields.length; r++)
        {
            flaskFields[r].height = firstFlask.items.items[r].getHeight();
        }
    }

    flasksBox.doLayout();

    // Now make sure the input element is the right size
    for(i = 1; i < flasksBox.items.items.length; i++)
    {
        flaskFields = flasksBox.items.items[i].items.items;
        for(r = 1; r < flaskFields.length; r++)
        {
            flaskFields[r].inputEl.setHeight(firstFlask.items.items[r].inputEl.getHeight());
        }
    }
}

var numFlasks = 1;

function onConfigsReady(runConfigs, flaskConfigs)
{
    var flaskUIConfigs = [];
    var i, config;

    flaskUIConfigs.push({
        xtype : 'fieldcontainer',
        text : 'Flask 1',
        fieldLabel : 'Flask'
    });

    // fixup run config
    for (i = 0; i < runConfigs.length; i++)
    {
        config = runConfigs[i];
        // set a default start date of today
        if (config.name == LABKEY.icemr.tracking.startDate)
            config.value = new Date();
    }

    var scientistConfig;
    var afterConfig;

    // fixup field configs
    for (i = 0; i < flaskConfigs.length; i++)
    {
        config = flaskConfigs[i];

        //
        // we have a patient id field for the flask but we don't need to show it
        // in the UI since it is already a run property
        //
        if (config.name == LABKEY.icemr.tracking.patient)
            continue;

        flaskUIConfigs.push(config);

        //
        // handle combos
        //
        if (config.name == LABKEY.icemr.tracking.stage)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.tracking.stageOptions);
        }

        else
        if (config.name == LABKEY.icemr.tracking.pRBC)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.tracking.pRBCOptions);
        }

        else
        if (config.name == LABKEY.icemr.tracking.cultureMedia)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.tracking.cultureMediaOptions);
        }
        else
        if (config.name == LABKEY.icemr.flask.control)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.tracking.positiveNegativeOptions);
        }
        else
        if (config.name == LABKEY.icemr.flask.resistanceProtocol)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.flask.resistanceProtocolOptions);
        }
        else
        if (config.name == LABKEY.icemr.flask.compound)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.flask.compoundOptions);
        }
        else
        if (config.name == LABKEY.icemr.flask.scientist)
        {
            scientistConfig = config;
        }
        else
        if (config.name == LABKEY.icemr.flask.parasitemia ||
            config.name == LABKEY.icemr.flask.adaptationSample)
        {
            // parasitemia is for culture adaptation
            // adaptationSample is for drug selection
            afterConfig = config;
        }
    }

    flaskUIConfigs = LABKEY.icemr.reorderList(flaskUIConfigs, scientistConfig, afterConfig );

    var getFlaskConfigs = function(){
        var newArray = Ext4.clone(flaskUIConfigs);
        newArray[0].html = 'Flask ' + numFlasks;
        if(numFlasks != 1)
            newArray[0].fieldLabel = null;
        for(var i = 1; i < newArray.length; i++){
            newArray[i].id += numFlasks;
            newArray[i].name += numFlasks;
            if(numFlasks != 1){
                newArray[i].hideLabel = true;
            }
        }

        return newArray;
    };

    var addFlask = function(){
        numFlasks++;
        var addCol = Ext4.create('Ext.form.FieldContainer', {
            id : 'flask ' + numFlasks,
            layout : {
                type : 'vbox',
                defaultMargins : '2 10 2 10'
            },
            items : getFlaskConfigs()
        });
        flasksBox.add(addCol);
        fp.setWidth(fp.getWidth() + addCol.getWidth());
        adjustSizes();
    };

    var removeFlask = function(){
        if(numFlasks != 1){
            fp.width -= flasksBox.getComponent('flask ' + numFlasks).getWidth();
            flasksBox.remove('flask ' + numFlasks, true);
            numFlasks--;
            adjustSizes();
        }
    };

    //
    // Create our form with two containers to separate
    // the flask properties data for each flask
    //

    var flasksBox = Ext4.create('Ext.form.FieldContainer', {
        fieldLabel : 'Flasks',
        id : 'flasksBox',
        layout : {
            type : 'hbox',
            defaultMargins : '2 0 2 0'
        },
        items : [
            {
                xtype : 'fieldcontainer',
                layout : {
                    type : 'vbox',
                    defaultMargins : '2 0 2 0'
                },
                items : getFlaskConfigs()
            }
        ]
    });


    var flaskProps = Ext4.create('Ext.form.FieldContainer', {
        fieldLabel : 'Flask Properties',
        layout : {
            type : 'vbox',
            defaultMargins : '2 0 2 0'
        },
        items : runConfigs
    });

    var fp = Ext4.create('Ext.form.Panel',{
        renderTo: 'upload-day0-div',
        id      : 'upload-day0-form',
        width : 450,
        defaults: {
            validationEvent: false,
            allowBlank : false,
            style : { margin: '2 0 2 0' },
            labelAlign : 'left',
            labelWidth : 100
        },
        method : 'POST',
        enctype :'multipart/form-data',
        border : false,
        stateful : false,
        autoHeight : true,
        frame : true,
        items : [
            flaskProps, flasksBox ,
            {
                xtype : 'fieldcontainer',
                layout : {
                    type : 'hbox',
                    defaultMargins : '2'
                },
                items : [
                    {
                        xtype   : 'button',
                        text    : 'Submit',
                        handler : function(){
                            submitAdaptation(flaskProps, flasksBox);
                        }
                    }, {
                        xtype   : 'button',
                        text    : 'Cancel',
                        handler : goBack
                    }, {
                        xtype : 'button',
                        text : 'Add Flask',
                        handler : addFlask
                    }, {
                        xtype : 'button',
                        text : 'Remove Flask',
                        handler : removeFlask
                    }
                ]
            }
        ]
    });
}

Ext4.onReady(function() {
    Ext4.QuickTips.init();
    LABKEY.icemr.initValidators();
    LABKEY.icemr.tracking.getDay0Configs(onConfigsReady)
});
</script>