<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="moduleBean" class="org.labkey.api.module.SimpleModule">
        <constructor-arg index="0"><value type="java.lang.String">hvtnFlow</value></constructor-arg>
        <property name="name" value="hvtnFlow"/>
        <property name="version" value="11.20"/>
        <property name="requiredServerVersion" value="10.20"/>
        <property name="moduleDependencies" value="Experiment, Flow"/>
        <property name="svnRevision" value="17544"/>
        <property name="svnUrl" value="https://hedgehog.fhcrc.org/tor/stedi/trunk/server"/>
        <property name="buildUser" value="matthewb"/>
        <property name="buildTime" value="October 10 2011, 9:56 AM"/>
        <property name="buildOS" value="Mac OS X"/>
        <property name="buildPath" value="../../../build/deploy/modules/hvtnFlow"/>
        <property name="sourcePath" value="/Users/matthewb/labkey/trunk/server/customModules/hvtnFlow/src"/>
    </bean>
</beans>
