* text=auto !eol
hvtnFlow/AnalysisPlans.txt -text
hvtnFlow/build.xml -text
hvtnFlow/hvtnFlow.iml -text
hvtnFlow/module.properties -text
hvtnFlow/module.template.xml -text
hvtnFlow/src/queries/flow/AnalysisPlan001.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan002.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan003.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan004.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan006.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan007.cd57.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan007.excl.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan007.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan008.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan009.excl.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan009.sql -text
hvtnFlow/src/queries/flow/AnalysisPlan024.sql -text
hvtnFlow/src/queries/flow/AnalysisPlanBase.query.xml -text
hvtnFlow/src/queries/flow/AnalysisPlanBase.sql -text
hvtnFlow/src/queries/flow/AnalysisPlanTemplate.query.xml -text
hvtnFlow/src/queries/flow/AnalysisPlanTemplate.sql -text
hvtnFlow/src/queries/flow/PassFail-12.query.xml -text
hvtnFlow/src/queries/flow/PassFail-12.sql -text
hvtnFlow/src/queries/flow/PassFail.query.xml -text
hvtnFlow/src/queries/flow/PassFail.sql -text
hvtnFlow/src/queries/flow/PassFail/.qview.xml -text
hvtnFlow/src/queries/flow/PassFailDetails-12.query.xml -text
hvtnFlow/src/queries/flow/PassFailDetails-12.sql -text
hvtnFlow/src/queries/flow/PassFailDetails.query.xml -text
hvtnFlow/src/queries/flow/PassFailDetails.sql -text
hvtnFlow/src/queries/flow/PassFailDetails/.qview.xml -text
viscstudies/build.xml -text
viscstudies/module.properties -text
viscstudies/resources/views/studydesigns.html -text
viscstudies/src/org/labkey/viscstudies/ViscStudiesContainerListener.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudiesManager.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudiesModule.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudyFolderTabs.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudyFolderType.java -text
viscstudies/viscstudies.iml -text
viscstudies/webapp/viscstudies/study.js -text
viscstudies/webapp/viscstudies/syringe2.jpg -text
viscstudies/webapp/viscstudies/syringeSmall.gif -text
