* text=auto !eol
hvtnFlow/AnalysisPlans.txt -text
hvtnFlow/README.txt -text
hvtnFlow/build.xml -text
hvtnFlow/hvtnFlow.iml -text
hvtnFlow/module.properties -text
hvtnFlow/resources/queries/flow/AnalysisPlan001.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan002.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan003.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan004.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan006.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan007.cd57.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan007.excl.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan007.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan008.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan009.excl.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan009.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan024.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlanBase.query.xml -text
hvtnFlow/resources/queries/flow/AnalysisPlanBase.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlanTemplate.query.xml -text
hvtnFlow/resources/queries/flow/AnalysisPlanTemplate.sql -text
hvtnFlow/resources/queries/flow/PassFail-12.query.xml -text
hvtnFlow/resources/queries/flow/PassFail-12.sql -text
hvtnFlow/resources/queries/flow/PassFail.query.xml -text
hvtnFlow/resources/queries/flow/PassFail.sql -text
hvtnFlow/resources/queries/flow/PassFail/.qview.xml -text
hvtnFlow/resources/queries/flow/PassFailDetails-12.query.xml -text
hvtnFlow/resources/queries/flow/PassFailDetails-12.sql -text
hvtnFlow/resources/queries/flow/PassFailDetails.query.xml -text
hvtnFlow/resources/queries/flow/PassFailDetails.sql -text
hvtnFlow/resources/queries/flow/PassFailDetails/.qview.xml -text
ms2extensions/module.properties -text
ms2extensions/resources/queries/ms2/MS2SearchRuns.query.xml -text
ms2extensions/resources/queries/ms2/Peptides.query.xml -text
ms2extensions/resources/queries/ms2/SequestChargeQueryColumns.query.xml -text
ms2extensions/resources/queries/ms2/SequestChargeQueryColumns.sql -text
ms2extensions/resources/queries/ms2/SequestQualifiedPeptideCountsPerRun.query.xml -text
ms2extensions/resources/queries/ms2/SequestQualifiedPeptideCountsPerRun.sql -text
ms2extensions/resources/queries/ms2/SequestSearchRuns.query.xml -text
ms2extensions/resources/queries/ms2/XTandemChargeQueryColumns.query.xml -text
ms2extensions/resources/queries/ms2/XTandemChargeQueryColumns.sql -text
ms2extensions/resources/queries/ms2/XTandemQualifiedPeptideCountsPerRun.query.xml -text
ms2extensions/resources/queries/ms2/XTandemQualifiedPeptideCountsPerRun.sql -text
ms2extensions/resources/queries/ms2/XTandemSearchRuns.query.xml -text
viscstudies/build.xml -text
viscstudies/module.properties -text
viscstudies/resources/views/studydesigns.html -text
viscstudies/resources/views/updateStudyProperties.html -text
viscstudies/resources/views/updateStudyProperties.view.xml -text
viscstudies/src/org/labkey/viscstudies/DatasetListWithStatusColumn.java -text
viscstudies/src/org/labkey/viscstudies/ProjectStudiesTable.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudiesContainerListener.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudiesController.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudiesManager.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudiesModule.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudyFolderTabs.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudyFolderType.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudySchema.java -text
viscstudies/viscstudies.iml -text
viscstudies/webapp/viscstudies/study.js -text
viscstudies/webapp/viscstudies/syringe2.jpg -text
viscstudies/webapp/viscstudies/syringeSmall.gif -text
