* text=auto !eol
atlastools/atlastools.iml -text
atlastools/module.properties -text
atlastools/resources/queries/exp/BaseDataUploadDashboard.sql -text
atlastools/resources/queries/exp/RunGroupMap/Data[!!-~]Upload[!!-~]Dashboard[!!-~]Runs.qview.xml -text
atlastools/resources/queries/exp/WrappedDataUploadDashboard.query.xml -text
atlastools/resources/queries/exp/WrappedDataUploadDashboard.sql -text
atlastools/resources/views/Data[!!-~]Upload[!!-~]Dashboard.webpart.xml -text
atlastools/resources/views/dataUploadDashboard.html -text
atlastools/resources/views/dataUploadDashboard.view.xml -text
hdrl/hdrl.iml -text
hdrl/module.properties -text
hdrl/resources/credits/scripts.txt -text
hdrl/resources/etls/labware.xml -text
hdrl/resources/queries/gw_labkey/labwareRequestResults.sql -text
hdrl/resources/queries/gw_labkey/labwareSpecimenResults.sql -text
hdrl/resources/queries/hdrl/InboundSpecimen/.qview.xml -text
hdrl/resources/schemas/dbscripts/oracle/labware.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-14.30-15.10.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-14.31-15.10.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.10-15.11.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.10-15.20.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.11-15.12.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.12-15.13.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.13-15.14.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.14-15.15.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.15-15.16.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.16-15.17.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.17-15.171.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.171-15.172.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.172-15.173.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.20-15.21.sql -text
hdrl/resources/schemas/dbscripts/postgresql/hdrl-15.21-15.22.sql -text
hdrl/resources/schemas/dbscripts/postgresql/labware.gw_labkey-15.20-15.21.sql -text
hdrl/resources/schemas/dbscripts/postgresql/labware.gw_labkey-15.21-15.22.sql -text
hdrl/resources/schemas/hdrl.xml -text
hdrl/resources/template/specimenTemplate.xlsx -text
hdrl/resources/views/HDRL.html -text
hdrl/resources/views/HDRL.webpart.xml -text
hdrl/resources/web/hdrl/fonts/Code39Azalea.eot -text
hdrl/resources/web/hdrl/fonts/Code39Azalea.otf -text
hdrl/resources/web/hdrl/fonts/Code39Azalea.svg -text
hdrl/resources/web/hdrl/fonts/Code39Azalea.ttf -text
hdrl/resources/web/hdrl/fonts/Code39Azalea.woff -text
hdrl/resources/web/hdrl/fonts/barcode.css -text
hdrl/resources/web/hdrl/requests.js -text
hdrl/src/org/labkey/hdrl/HDRLContainerListener.java -text
hdrl/src/org/labkey/hdrl/HDRLController.java -text
hdrl/src/org/labkey/hdrl/HDRLFolderType.java -text
hdrl/src/org/labkey/hdrl/HDRLMaintenanceTask.java -text
hdrl/src/org/labkey/hdrl/HDRLManager.java -text
hdrl/src/org/labkey/hdrl/HDRLModule.java -text
hdrl/src/org/labkey/hdrl/HDRLSchema.java -text
hdrl/src/org/labkey/hdrl/query/HDRLQuerySchema.java -text
hdrl/src/org/labkey/hdrl/query/InboundRequestTable.java -text
hdrl/src/org/labkey/hdrl/query/InboundRequestUpdateService.java -text
hdrl/src/org/labkey/hdrl/query/InboundSpecimenTable.java -text
hdrl/src/org/labkey/hdrl/query/InboundSpecimenUpdateService.java -text
hdrl/src/org/labkey/hdrl/query/LabWareQuerySchema.java -text
hdrl/src/org/labkey/hdrl/query/PatientCountColumn.java -text
hdrl/src/org/labkey/hdrl/query/RequestResultTable.java -text
hdrl/src/org/labkey/hdrl/query/SpecimenResultTable.java -text
hdrl/src/org/labkey/hdrl/view/InboundRequestBean.java -text
hdrl/src/org/labkey/hdrl/view/InboundSpecimenBean.java -text
hdrl/src/org/labkey/hdrl/view/RequestResultBean.java -text
hdrl/src/org/labkey/hdrl/view/editRequest.jsp -text
hdrl/src/org/labkey/hdrl/view/printPackingList.jsp -text
hdrl/src/org/labkey/hdrl/view/requestDetails.jsp -text
hdrl/src/org/labkey/hdrl/view/sensitiveData.jsp -text
hdrl/test/src/org/labkey/test/tests/HDRLTest.java -text
hdrl/test/test_hdrl.iml -text
hvtnFlow/AnalysisPlans.txt -text
hvtnFlow/README.txt -text
hvtnFlow/analysis-plans.clj -text
hvtnFlow/gen-plans.clj -text
hvtnFlow/generate-booleans.py -text
hvtnFlow/hvtnFlow.iml -text
hvtnFlow/module.properties -text
hvtnFlow/plans/AP-001.tsv -text
hvtnFlow/plans/AP-002.tsv -text
hvtnFlow/plans/AP-003.tsv -text
hvtnFlow/plans/AP-004.tsv -text
hvtnFlow/plans/AP-006.tsv -text
hvtnFlow/plans/AP-007.cd57.tsv -text
hvtnFlow/plans/AP-007.excl.tsv -text
hvtnFlow/plans/AP-007.tsv -text
hvtnFlow/plans/AP-008.tsv -text
hvtnFlow/plans/AP-009.excl.5bool.tsv -text
hvtnFlow/plans/AP-009.excl.tsv -text
hvtnFlow/plans/AP-009.tsv -text
hvtnFlow/plans/AP-024.7bool.tsv -text
hvtnFlow/plans/AP-024.tsv -text
hvtnFlow/plans/AP-035.tsv -text
hvtnFlow/plans/AP-037.tsv -text
hvtnFlow/plans/AP-038.tsv -text
hvtnFlow/plans/AP-039.tsv -text
hvtnFlow/plans/AP-040.tsv -text
hvtnFlow/plans/AP-041.tsv -text
hvtnFlow/resources/folderTypes/HVTNFlow.folderType.xml -text
hvtnFlow/resources/queries/flow/AnalysisPlan001.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan002.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan003.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan004.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan006.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan007.cd57.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan007.excl.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan007.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan008.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan009.excl.5bool.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan009.excl.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan009.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan024.7bool.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan024.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan035.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan037.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan038.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan039.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan040.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlan041.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlanBase.query.xml -text
hvtnFlow/resources/queries/flow/AnalysisPlanBase.sql -text
hvtnFlow/resources/queries/flow/AnalysisPlanTemplate.query.xml -text
hvtnFlow/resources/queries/flow/AnalysisPlanTemplate.sql -text
hvtnFlow/resources/queries/flow/PassFail-12.query.xml -text
hvtnFlow/resources/queries/flow/PassFail-12.sql -text
hvtnFlow/resources/queries/flow/PassFail.query.xml -text
hvtnFlow/resources/queries/flow/PassFail.sql -text
hvtnFlow/resources/queries/flow/PassFail/.qview.xml -text
hvtnFlow/resources/queries/flow/PassFailDetails-12.query.xml -text
hvtnFlow/resources/queries/flow/PassFailDetails-12.sql -text
hvtnFlow/resources/queries/flow/PassFailDetails.query.xml -text
hvtnFlow/resources/queries/flow/PassFailDetails.sql -text
hvtnFlow/resources/queries/flow/PassFailDetails/.qview.xml -text
icemr/distributions/icemr.xml -text
icemr/icemr.iml -text
icemr/module.properties -text
icemr/resources/assay/Diagnostics/config.xml -text
icemr/resources/assay/Diagnostics/domains/batch.xml -text
icemr/resources/assay/Diagnostics/domains/result.xml -text
icemr/resources/assay/Diagnostics/domains/run.xml -text
icemr/resources/assay/Diagnostics/queries/Runs/.qview.xml -text
icemr/resources/assay/Diagnostics/views/upload.html -text
icemr/resources/assay/Diagnostics/views/upload.view.xml -text
icemr/resources/assay/SpeciesSpecific/config.xml -text
icemr/resources/assay/SpeciesSpecific/domains/batch.xml -text
icemr/resources/assay/SpeciesSpecific/domains/result.xml -text
icemr/resources/assay/SpeciesSpecific/domains/run.xml -text
icemr/resources/assay/SpeciesSpecific/queries/Data/.qview.xml -text
icemr/resources/assay/SpeciesSpecific/queries/Runs/.qview.xml -text
icemr/resources/assay/SpeciesSpecific/views/upload.html -text
icemr/resources/assay/SpeciesSpecific/views/upload.view.xml -text
icemr/resources/assay/Tracking/config.xml -text
icemr/resources/assay/Tracking/domains/batch.xml -text
icemr/resources/assay/Tracking/domains/result.xml -text
icemr/resources/assay/Tracking/domains/run.xml -text
icemr/resources/assay/Tracking/domains/selection.txt -text
icemr/resources/assay/Tracking/queries/Data.query.xml -text
icemr/resources/assay/Tracking/queries/Data/.qview.xml -text
icemr/resources/assay/Tracking/queries/Runs.query.xml -text
icemr/resources/assay/Tracking/queries/Runs/.qview.xml -text
icemr/resources/assay/Tracking/queries/adapt_flasks.sql -text
icemr/resources/assay/Tracking/queries/adapt_flasks_viz.sql -text
icemr/resources/assay/Tracking/queries/adapt_generic_foldincrease.sql -text
icemr/resources/assay/Tracking/queries/adapt_parasitemia_increase.sql -text
icemr/resources/assay/Tracking/queries/adapt_parasitemia_pass.sql -text
icemr/resources/assay/Tracking/queries/adapt_results.sql -text
icemr/resources/assay/Tracking/queries/adapt_results/.qview.xml -text
icemr/resources/assay/Tracking/queries/adapted_numdays.sql -text
icemr/resources/assay/Tracking/queries/alias_adapt_flasks.sql -text
icemr/resources/assay/Tracking/queries/alias_select_flasks.sql -text
icemr/resources/assay/Tracking/queries/export_culture_adaptation.sql -text
icemr/resources/assay/Tracking/queries/export_drug_selection.sql -text
icemr/resources/assay/Tracking/queries/export_drug_selection_day0.sql -text
icemr/resources/assay/Tracking/queries/generic_daysfromdates.sql -text
icemr/resources/assay/Tracking/queries/generic_daysfromday0.sql -text
icemr/resources/assay/Tracking/queries/generic_foldincrease.query.xml -text
icemr/resources/assay/Tracking/queries/generic_numdays.sql -text
icemr/resources/assay/Tracking/queries/runs_viewresults.sql -text
icemr/resources/assay/Tracking/queries/select_all_calcs.sql -text
icemr/resources/assay/Tracking/queries/select_all_firstdaypositive_growth.sql -text
icemr/resources/assay/Tracking/queries/select_all_firstdaypositive_resistant.sql -text
icemr/resources/assay/Tracking/queries/select_all_resistance_days.sql -text
icemr/resources/assay/Tracking/queries/select_all_resistance_fold.sql -text
icemr/resources/assay/Tracking/queries/select_firstdaypositive_growth.sql -text
icemr/resources/assay/Tracking/queries/select_firstdaypositive_resistant.sql -text
icemr/resources/assay/Tracking/queries/select_flasks.sql -text
icemr/resources/assay/Tracking/queries/select_flasks_viz.sql -text
icemr/resources/assay/Tracking/queries/select_generic_firstdaypositive.sql -text
icemr/resources/assay/Tracking/queries/select_generic_foldincrease.sql -text
icemr/resources/assay/Tracking/queries/select_parasitemia_increase.sql -text
icemr/resources/assay/Tracking/queries/select_resistance_days.sql -text
icemr/resources/assay/Tracking/queries/select_resistance_fold.sql -text
icemr/resources/assay/Tracking/queries/select_results.sql -text
icemr/resources/assay/Tracking/queries/select_results/.qview.xml -text
icemr/resources/assay/Tracking/queries/stored_dates_numdays.sql -text
icemr/resources/assay/Tracking/queries/tracking_results.sql -text
icemr/resources/assay/Tracking/views/results.html -text
icemr/resources/assay/Tracking/views/results.view.xml -text
icemr/resources/assay/Tracking/views/upload.html -text
icemr/resources/assay/Tracking/views/upload.view.xml -text
icemr/resources/folderTypes/icemr.foldertype.xml -text
icemr/resources/schemas/dbscripts/postgresql/icemr-12.30-13.10.sql -text
icemr/resources/schemas/dbscripts/postgresql/icemr-13.20-13.30.sql -text
icemr/resources/schemas/dbscripts/postgresql/obsolete/icemr-13.20-13.21.sql -text
icemr/resources/schemas/dbscripts/sqlserver/icemr-12.30-13.10.sql -text
icemr/resources/schemas/dbscripts/sqlserver/icemr-13.20-13.30.sql -text
icemr/resources/schemas/dbscripts/sqlserver/obsolete/icemr-13.20-13.21.sql -text
icemr/resources/schemas/icemr.xml -text
icemr/resources/views/dailyUpload.html -text
icemr/resources/views/dailyUpload.view.xml -text
icemr/resources/views/flaskSummary.html -text
icemr/resources/views/flaskSummary.view.xml -text
icemr/resources/views/uploadtests.html -text
icemr/resources/views/uploadtests.view.xml -text
icemr/resources/views/uploadtests.webpart.xml -text
icemr/resources/views/vis.html -text
icemr/resources/views/vis.view.xml -text
icemr/resources/web/assay/diagnostics/diagnostics.js -text
icemr/resources/web/assay/icemr.js -text
icemr/resources/web/assay/icemr.lib.xml -text
icemr/resources/web/assay/species/species.js -text
icemr/resources/web/assay/tracking/adaptation.js -text
icemr/resources/web/assay/tracking/selection.js -text
icemr/resources/web/assay/tracking/tracking.js -text
icemr/resources/web/assay/validation.js -text
icemr/setup.txt -text
icemr/src/org/labkey/icemr/IcemrController.java -text
icemr/src/org/labkey/icemr/IcemrManager.java -text
icemr/src/org/labkey/icemr/IcemrModule.java -text
icemr/src/org/labkey/icemr/IcemrSchema.java -text
icemr/src/org/labkey/icemr/IcemrUpgradeCode.java -text
icemr/src/org/labkey/icemr/assay/DrugSensitivity/DrugSensitivityAssayProvider.java -text
icemr/src/org/labkey/icemr/assay/DrugSensitivity/DrugSensitivityAssayRun.java -text
icemr/src/org/labkey/icemr/assay/DrugSensitivity/DrugSensitivityDataHandler.java -text
icemr/src/org/labkey/icemr/assay/DrugSensitivity/DrugSensitivityManager.java -text
icemr/src/org/labkey/icemr/assay/DrugSensitivity/DrugSensitivityPlateTypeHandler.java -text
icemr/src/org/labkey/icemr/assay/DrugSensitivity/DrugSensitivityProtocolSchema.java -text
icemr/src/org/labkey/icemr/assay/DrugSensitivity/actions/DrugSensitivityRunUploadForm.java -text
icemr/src/org/labkey/icemr/assay/DrugSensitivity/actions/DrugSensitivityUploadWizardAction.java -text
icemr/src/org/labkey/icemr/assay/DrugSensitivity/query/DrugSensitivityResultsTable.java -text
icemr/src/org/labkey/icemr/assay/IcemrSaveHandler.java -text
icemr/src/org/labkey/icemr/assay/Tracking/AdaptationSaveHandler.java -text
icemr/src/org/labkey/icemr/assay/Tracking/TrackingSaveHandler.java -text
icemr/test/sampledata/icemr/adaptFlaskFields.txt -text
icemr/test/sampledata/icemr/adaptFlaskFields2.txt -text
icemr/test/sampledata/icemr/badFlasks.xls -text
icemr/test/sampledata/icemr/dailyUploadFilled.xls -text
icemr/test/sampledata/icemr/missingColumns.xls -text
icemr/test/sampledata/icemr/piggy.JPG -text
icemr/test/sampledata/icemr/selectFlaskFields.txt -text
icemr/test/sampledata/icemr/selectFlaskFields2.txt -text
icemr/test/src/org/labkey/test/tests/ICEMRModuleTest.java -text
icemr/test/test_icemr.iml -text
ms2extensions/Ms2extensions.iml -text
ms2extensions/module.properties -text
ms2extensions/resources/folderTypes/MS2Extensions.folderType.xml -text
ms2extensions/resources/queries/ms2/CometChargeQueryColumns.query.xml -text
ms2extensions/resources/queries/ms2/CometChargeQueryColumns.sql -text
ms2extensions/resources/queries/ms2/CometQualifiedPeptideCountsPerRun.query.xml -text
ms2extensions/resources/queries/ms2/CometQualifiedPeptideCountsPerRun.sql -text
ms2extensions/resources/queries/ms2/CometSearchRuns.query.xml -text
ms2extensions/resources/queries/ms2/MS2SearchRuns.query.xml -text
ms2extensions/resources/queries/ms2/Peptides.query.xml -text
ms2extensions/resources/queries/ms2/SequestChargeQueryColumns.query.xml -text
ms2extensions/resources/queries/ms2/SequestChargeQueryColumns.sql -text
ms2extensions/resources/queries/ms2/SequestQualifiedPeptideCountsPerRun.query.xml -text
ms2extensions/resources/queries/ms2/SequestQualifiedPeptideCountsPerRun.sql -text
ms2extensions/resources/queries/ms2/SequestSearchRuns.query.xml -text
ms2extensions/resources/queries/ms2/XCorrChargeQueryColumns.query.xml -text
ms2extensions/resources/queries/ms2/XCorrChargeQueryColumns.sql -text
ms2extensions/resources/queries/ms2/XTandemChargeQueryColumns.query.xml -text
ms2extensions/resources/queries/ms2/XTandemChargeQueryColumns.sql -text
ms2extensions/resources/queries/ms2/XTandemQualifiedPeptideCountsPerRun.query.xml -text
ms2extensions/resources/queries/ms2/XTandemQualifiedPeptideCountsPerRun.sql -text
ms2extensions/resources/queries/ms2/XTandemSearchRuns.query.xml -text
ms2extensions/resources/queries/ms2extensions/GetCometPeptideCounts.sql -text
ms2extensions/resources/queries/ms2extensions/GetSequestPeptideCounts.sql -text
ms2extensions/resources/queries/ms2extensions/GetXCorrPeptideCounts.sql -text
ms2extensions/resources/queries/ms2extensions/GetXTandemPeptideCounts.sql -text
ms2extensions/resources/queries/ms2extensions/Ms2RunAggregates.query.xml -text
ms2extensions/resources/schemas/dbscripts/postgresql/ms2extensions-12.30-13.10.sql -text
ms2extensions/resources/schemas/dbscripts/postgresql/ms2extensions-13.20-13.30.sql -text
ms2extensions/resources/schemas/dbscripts/postgresql/obsolete/ms2extensions-13.20-13.21.sql -text
ms2extensions/resources/schemas/dbscripts/postgresql/obsolete/ms2extensions-13.21-13.22.sql -text
ms2extensions/resources/schemas/dbscripts/sqlserver/ms2extensions-12.30-13.10.sql -text
ms2extensions/resources/schemas/dbscripts/sqlserver/ms2extensions-13.20-13.30.sql -text
ms2extensions/resources/schemas/dbscripts/sqlserver/obsolete/ms2extensions-13.20-13.21.sql -text
ms2extensions/resources/schemas/dbscripts/sqlserver/obsolete/ms2extensions-13.21-13.22.sql -text
ms2extensions/resources/schemas/ms2extensions.xml -text
ms2extensions/src/org/labkey/ms2extensions/FilterView.java -text
ms2extensions/src/org/labkey/ms2extensions/MS2ExtensionsController.java -text
ms2extensions/src/org/labkey/ms2extensions/MS2ExtensionsExperimentRunType.java -text
ms2extensions/src/org/labkey/ms2extensions/MS2ExtensionsModule.java -text
ms2extensions/src/org/labkey/ms2extensions/MS2ExtensionsUpgradeCode.java -text
ms2extensions/src/org/labkey/ms2extensions/PeptideCountUpdater.java -text
ms2extensions/src/org/labkey/ms2extensions/RunGridWebPart.java -text
ms2extensions/src/org/labkey/ms2extensions/runGridFilters.jsp -text
peptideInventory/module.properties -text
peptideInventory/resources/etls/PepDBMirror.xml -text
peptideInventory/resources/schemas/dbscripts/postgresql/peptideInventory-0.00-14.20.sql -text
peptideInventory/resources/schemas/dbscripts/postgresql/peptideInventory-14.30-14.31.sql -text
peptideInventory/resources/schemas/dbscripts/postgresql/peptideInventory-14.31-14.32.sql -text
peptideInventory/resources/schemas/dbscripts/postgresql/peptideInventory-14.32-14.33.sql -text
peptideInventory/resources/schemas/dbscripts/postgresql/peptideinventory-14.30-15.10.sql -text
peptideInventory/resources/schemas/peptideInventory.xml -text
peptideInventory/resources/views/freezer.html -text
peptideInventory/resources/views/freezer.view.xml -text
peptideInventory/resources/views/freezer.webpart.xml -text
peptideInventory/resources/views/manage.html -text
peptideInventory/resources/views/manage.view.xml -text
peptideInventory/resources/views/manage.webpart.xml -text
peptideInventory/resources/views/remainingVials.html -text
peptideInventory/resources/views/remainingVials.view.xml -text
peptideInventory/resources/views/remainingVials.webpart.xml -text
peptideInventory/resources/web/peptideInventory/freezer.js -text
peptideInventory/resources/web/peptideInventory/inventory.js -text
peptideInventory/resources/web/peptideInventory/remainingVials.js -text
viscstudies/module.properties -text
viscstudies/resources/views/migrateStudyDesigns.html -text
viscstudies/resources/views/migrateStudyDesigns.view.xml -text
viscstudies/resources/views/studydesigns.html -text
viscstudies/resources/views/studydesigns.view.xml -text
viscstudies/resources/views/updateStudyProperties.html -text
viscstudies/resources/views/updateStudyProperties.view.xml -text
viscstudies/src/org/labkey/viscstudies/DatasetListWithStatusColumn.java -text
viscstudies/src/org/labkey/viscstudies/ProjectStudiesTable.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudiesController.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudiesModule.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudyFolderTabs.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudyFolderType.java -text
viscstudies/src/org/labkey/viscstudies/ViscStudySchema.java -text
viscstudies/test/src/org/labkey/test/tests/CAVDStudyTest.java -text
viscstudies/test/test_viscstudies.iml -text
viscstudies/viscstudies.iml -text
viscstudies/webapp/viscstudies/study.js -text
viscstudies/webapp/viscstudies/syringe2.jpg -text
viscstudies/webapp/viscstudies/syringeSmall.gif -text
