<script type="text/javascript">

var _migrateControl =
{
    _studyDesigns : null,
    _studiesByContainer : {},
    _migrations : [],
    _doneMigrations : [],

    getStudyDesigns: function()
    {
        Ext4.Ajax.request({
            url : LABKEY.ActionURL.buildURL('study-designer', 'getStudyDesigns', null, {includeSubfolders: true}),
            method : 'GET',
            success: function(response) {
                var data = Ext4.decode(response.responseText);
                this.initStudyDesigns(data);
            },
            failure: function(response) {
                var err = Ext4.decode(response.responseText);
                console.log(err);
                alert("Failed to load studies, see an administrator");
            },
            scope: this
        });

    } ,

    initStudyDesigns : function(data)
    {
        console.log(data);
        this._studyDesigns = data.studyDesigns;
        LABKEY.Query.selectRows({
            schemaName: "study",
            queryName: "studyProperties",
            columns: "*",
            containerFilter: LABKEY.Query.containerFilter.currentAndSubfolders,
            success: function(result) {
                this.initMigrationStudies(result);
            },
            failure: function(err) {
                console.log(err);
                alert("Failed to load studies, see an administrator");
            },
            scope: this
        });
    },

    studyCount : 0,

    initMigrationStudies : function(result)
    {
        Ext4.each(result.rows, function (study){
            this._studiesByContainer[study["Container"]] = study;
        }, this);

        Ext4.each(this._studyDesigns, function(design) {
            if (design.active)
            {
                this.studyCount += 1;
            }
        }, this);

        Ext4.each(this._studyDesigns, function(design) {
            if (design.active)
            {
                this.checkStudy(design);
            }
        }, this);

        console.log(this._migrations);
    },

    checkStudy: function(design)
    {
        var sql = "SELECT A.Ct + T.Ct + PR.Ct + PA.Ct As TotCount FROM " +
                  "(SELECT COUNT(*) AS Ct FROM AssaySpecimen) A, " +
                  "(SELECT COUNT(*) AS Ct FROM Treatment) T, " +
                  "(SELECT COUNT(*) AS Ct FROM Product) PR, " +
                  "(SELECT COUNT(*) AS Ct FROM ProductAntigen) PA";
        LABKEY.Query.executeSql({
            schemaName: "study",
            sql: sql,
            containerPath: design.container.path,
            success: function(result) {
                var migrationDone = false
                if (result.rows.length > 0 && result.rows[0]["TotCount"] > 0)
                    migrationDone = true;
                this.addDesign(design, migrationDone);

                if (0 == this.studyCount)
                    Ext4.get("migrateButton").dom.removeAttribute("disabled");
            },
            failure: function(err) {
                console.log(err);
                alert("Failed to load studies, see an administrator");
            },
            scope: this
        });
    },

    addDesign: function(design, migrationDone)
    {
        var study = this._studiesByContainer[design.container.id];
        study.migrationDone = migrationDone;
        var html = "<li id='" + design.container.id + "'>" + study.Label + ": " + design.container.path +
                (study.migrationDone ? " [already done]" : "") + "</li>";
        if (!study.migrationDone)
            this._migrations.push({design: design, study: this._studiesByContainer[design.container.id]});
        else
            this._doneMigrations.push({design: design, study: this._studiesByContainer[design.container.id]});
        var el = Ext4.get("migrateList");
        el.setHTML(el.getHTML().replace("</ul>", "") + html + "</ul>");
        this.studyCount -= 1;
    },

    //Since this is multi-container, need to do seperate update statements.
    //Theoretically should be able to do many of these async, but
    //update one at a time for a little more predictability.
    nextMigration : 0,

    doMigration: function()
    {
        this.nextMigration = 0;
        this.doNextMigration();
    },

    doNextMigration: function()
    {
        if (this.nextMigration >= this._migrations.length)
            return;
        this.updateMigrationStatus(" - Migrating...");
        var migrate = this._migrations[this.nextMigration];
        this.preMigrateCohorts(migrate);
    },

    handleSuccess: function(res)
    {
        this.updateMigrationStatus("...Complete!");
        this.nextMigration++;
        this.doNextMigration();
    },

    handleFailure: function(res, text)
    {
        var migrate = this._migrations[this.nextMigration];
        this.deleteAllRowsMigration(migrate);
        this.updateMigrationStatus("...Failure!" + (text ? " [Cause: " + text + "]" : ""));
        console.log("Failure: ", res);
        this.nextMigration++;
        this.doNextMigration();
    },

    handleWarning: function(text)
    {
        this.updateMigrationStatus("...warning" + (text ? " [" + text + "]" : ""));
    },

    preMigrateCohorts: function(migrate)
    {
        var config = {
            schemaName: "study",
            queryName: "Cohort",
            containerPath: migrate.design.container.path,
            success: function(data) {
                this.cohorts = {};      // map Label to Cohort
                Ext4.each(data.rows, function (row) {
                    this.cohorts[row.label] = row;
                }, this);
                this.ensureCohorts(migrate);
            },
            failure: function(err) {
                this.handleFailure(err, "Getting cohorts failed.")
            },
            scope: this
        };
        LABKEY.Query.selectRows(config);
    },

    ensureCohorts: function(migrate)
    {
        // Cohorts: Make sure all cohorts are there; add if needed; update count if needed
        var def = migrate.design.studyDefinition;
        var insertCohortRows = [];
        var updateCohortRows = [];
        Ext4.each(def.cohorts, function(cohort) {
            if (this.cohorts[cohort.name])
            {
                if (this.cohorts[cohort.name].subjectCount != cohort.count)
                {
                    this.cohorts[cohort.name].subjectCount = cohort.count;
                    updateCohortRows.push(this.cohorts[cohort.name]);
                }
            }
            else
                insertCohortRows.push({label: cohort.name, subjectCount: cohort.count});
        }, this);
        var saveConfig = {
            commands : [],
            containerPath: migrate.design.container.path,
            success: function(result) {
                Ext4.each(result.result, function(data) {
                    Ext4.each(data.rows, function(row) {
                        this.cohorts[row.label] = row;
                    }, this);
                }, this);
                this.preMigrateVisits(migrate);
            },
            failure : function(err) {
                this.handleFailure(err, "Updating cohorts failed.")
            },
            scope   : this
        };
        if (insertCohortRows.length > 0)
        {
            saveConfig.commands.push({
                schemaName: "study",
                queryName: "Cohort",
                command: "insert",
                rows: insertCohortRows
            });
        }
        if (updateCohortRows.length > 0)
        {
            saveConfig.commands.push({
                schemaName: "study",
                queryName: "Cohort",
                command: "update",
                rows: updateCohortRows
            });
        }
        if (saveConfig.commands.length > 0)
            LABKEY.Query.saveRows(saveConfig);
        else
            this.preMigrateVisits(migrate);
    },

    isDateBased: true,

    preMigrateVisits: function(migrate)
    {
        this.isDateBased = migrate.study.TimepointType == "DATE";
        var config = {
            schemaName: "study",
            queryName: "Visit",
            containerPath: migrate.design.container.path,
            success: function(data) {
                this.visits = {};       // map Label to Visit
                Ext4.each(data.rows, function (row) {
                    var key = this.getVisitKey(this.getVisitLabel(row.Label, row.SequenceNumMin), row.SequenceNumMin);
                    this.visits[key] = row;
                }, this);
                this.ensureVisits(migrate);
            },
            failure: function(err) {
                this.handleFailure(err, "Getting visits failed.")
            },
            scope: this
        };
        LABKEY.Query.selectRows(config);
    },

    ensureVisits: function(migrate)
    {
        // Visits: Make sure all visits are there; add if needed
        var def = migrate.design.studyDefinition;
        this.isWeekBasedVisitBased = this.calculateIsWeekBasedVisitBased(def);
        var insertVisitRows = {};
        var ensureVisitsFailed = false;
        Ext4.each(def.assaySchedule.assays, function(assay) {
            if (assay.timepoint && !this.ensureVisit(insertVisitRows, assay.timepoint))
            {
                ensureVisitsFailed = true;
                return false; // failure
            }
        }, this);

        Ext4.each(def.immunizations, function(immunization) {
            if (!this.ensureVisit(insertVisitRows, immunization.timepoint))
            {
                ensureVisitsFailed = true;
                return false; // failure
            }
        }, this);

        if (!ensureVisitsFailed)
        {
            this.visitsToInsert = [];
            for (var key in insertVisitRows)
            {
                this.visitsToInsert.push(insertVisitRows[key]);
            }
            if (!Ext4.isEmpty(this.visitsToInsert))
            {
                this.doInsertVisits(migrate);
            }
            else
                this.migrateStudy(migrate);
        }
        else
        {
            this.handleFailure("no visit", "visit not found in Visit-based study");
        }

    },

    ensureVisit: function(insertVisitRows, timepoint)
    {
        var label = this.makeVisitLabel(timepoint);
        var seqNum = this.makeVisitSequenceNum(timepoint);
        if (this.isWeekBasedVisitBased)
        {
            // lookup by seqNum / 7
            var key = seqNum / 7;
            if (!this.visits[key])
            {
                insertVisitRows[key] = ({Label: null, SequenceNumMin: key, SequenceNumMax: key});
            }
        }
        else
        {
            var key = this.getVisitKey(label, seqNum);
            if (!this.visits[key])
            {
                if (!this.isDateBased)
                {
                    var altKey = this.makeAlternateVisitLabel(timepoint);      // try alternate;
                    if (this.visits[altKey])
                    {
                        this.visits[key] = this.visits[altKey];     // remember it
                        return true;
                    }
                    else
                        return false;
                }
                insertVisitRows[key] = ({Label: label, SequenceNumMin: seqNum, SequenceNumMax: seqNum});
            }
        }
        return true;
    },

    doInsertVisits: function(migrate)
    {
        this.nextVisitToInsert = 0;
        this.doNextInsertVisit(migrate);
    },

    doNextInsertVisit: function(migrate)
    {
        if (this.nextVisitToInsert >= this.visitsToInsert.length)
        {
            var visitMsg = " [Added visits: ";
            var sep = "";
            for (var i = 0; i < this.visitsToInsert.length; i += 1)
            {
                visitMsg += sep + this.visitsToInsert[i].SequenceNumMin;
                sep = ",";
            }
            visitMsg += "] ";
            this.updateMigrationStatus(visitMsg);
            this.migrateStudy(migrate)
            return;
        }

        var row = this.visitsToInsert[this.nextVisitToInsert];
        Ext4.Ajax.request({
            url     : LABKEY.ActionURL.buildURL('study-design', 'createVisit.api', migrate.design.container.path),
            method  : 'POST',
            jsonData: {
                label: row.Label,
                sequenceNumMin: row.SequenceNumMin.toString(),
                sequenceNumMax: row.SequenceNumMax.toString(),
                showByDefault: true
            },
            success: function(response) {
                var data = Ext4.decode(response.responseText);
                row.RowId = this.getRowId(data);
                var key = this.getVisitKey(row.Label, row.SequenceNumMin);
                this.visits[key] = row;
                this.nextVisitToInsert++;
                this.doNextInsertVisit(migrate);
            },
            failure: function(response) {
                var resp = Ext4.decode(response.responseText);
                if (this.isDateBased)
                {
                    // Already one there; find it.
                    var key = this.getVisitKey(row.Label, row.SequenceNumMin);
                    var visit = this.findContainingVisit(row.SequenceNumMin);
                    if (null != visit)
                    {
                        this.visits[key] = visit;
                        this.nextVisitToInsert++;
                        this.doNextInsertVisit(migrate);
                    }
                    else
                        this.handleFailure("server failure", "unexpected error finding date-based visit");
                }
                else
                    this.handleFailure("server failure", "failed to insert visit: visit-based");
            },
            scope   : this
        });
    },

    getVisitLabel: function(label, sequenceNum)
    {
        if (undefined == label || null == label || "" == label)
            label = sequenceNum.toString();
        return label
    },

    makeVisitLabel: function(timepoint)
    {
        if (this.isWeekBasedVisitBased)
            return (this.makeVisitSequenceNum(timepoint) / 7).toString();

        var label = timepoint.name;
        var suffix;
        if (timepoint.displayUnit == "days")
            suffix = timepoint.days + " days";
        else
            suffix = (timepoint.days / 7) + " weeks";
        if (suffix != label)
            label += ": " + suffix;
        return label;
    },

    makeAlternateVisitLabel: function(timepoint)
    {
        // Alternative to look up visits that were not labeled
        return timepoint.days.toString();
    },

    makeVisitSequenceNum: function(timepoint)
    {
        return timepoint.days;
    },

    getVisitKey: function(label, sequenceNumMin)
    {
        if (this.isDateBased || null == label)
            return sequenceNumMin;
        else
            return label.toLowerCase();
    },

    findContainingVisit: function(seqNumMin)
    {
        // only for data-based
        var result = null;
        Ext4.Object.each(this.visits, function(key, visit) {
            if (visit.SequenceNumMin <= seqNumMin && seqNumMin <= visit.SequenceNumMax)
            {
                result = visit;
                return false; // break
            }
        }, this);
        return result;
    },

    // Migrate study: build up set a maps to avoid duplicates in some tables; then insert/update the tables
    migrateStudy: function(migrate)
    {
        var def = migrate.design.studyDefinition;

        // Populate map for each table we'll be saving rows to
        var products = {};          // key = label (name)
        var treatments = {};        // key = label (name)
        var productAntigens = {};   // key = gene/subtype/genbankid/sequence
        var assaySpecimens = {};     // key = name
        var assaySpecimenVisits = {};   // key = name/timepoint
        var treatmentVisitMap = {};     // key = cohort/treatment/timepoint
        var treatmentProductMap = {};   // key = treatment/product/dose/route

        Ext4.each(def.immunogens, function(immunogen) {
            var product = {label: immunogen.name, type: immunogen.type, role: "Immunogen", dose: immunogen.dose, route: immunogen.admin};
            products[immunogen.name] = product;

            Ext4.each(immunogen.antigens, function(antigen) {
                var productAntigen = {gene: antigen.gene, subtype: antigen.subtype, sequence: null, genBankId: null, product: product};
                var key = product.label + "/" + antigen.gene + "/" + antigen.subtype;
                if (antigen.genBankId)
                {
                    productAntigen.genBankId = antigen.genBankId;
                    key += "/" + antigen.genBankId;
                }
                if (antigen.sequence)
                {
                    productAntigen.sequence = antigen.sequence;
                    key += "/" + antigen.sequence;
                }
                productAntigens[key] = productAntigen;
            }, this);
        }, this);

        Ext4.each(def.adjuvants, function(adjuvant) {
            var product = {label: adjuvant.name, type: null, role: "Adjuvant", dose: adjuvant.dose, route: adjuvant.admin};
            products[adjuvant.name] = product;
        }, this);

        var error = false;
        Ext4.each(def.immunizations, function(immunization) {
            var treatmentName = "";
            var sepChar = "";
            Ext4.each(immunization.immunogens, function(productName) {
                treatmentName += sepChar + productName;
                sepChar = "|";
            }, this);

            Ext4.each(immunization.adjuvants, function(productName) {
                treatmentName += sepChar + productName;
                sepChar = "|";
            }, this);

            if (0 == treatmentName.trim().length)
            {
                this.handleWarning("Empty treatment in schedule.");
            }
            else
            {
                var treatment = {label: treatmentName};
                treatments[treatmentName] = treatment;

                Ext4.each(immunization.immunogens, function (immunogenName)
                {
                    this.addTreatmentProductMapEntry(products[immunogenName], treatment, treatmentProductMap);
                }, this);

                Ext4.each(immunization.adjuvants, function (adjuvantName)
                {
                    this.addTreatmentProductMapEntry(products[adjuvantName], treatment, treatmentProductMap);
                }, this);

                var treatmentVisitMapValue = {cohort: immunization.groupName, treatment: treatment,
                    visitKey: this.getVisitKey(this.makeVisitLabel(immunization.timepoint), this.makeVisitSequenceNum(immunization.timepoint))};
                var treatmentVisitMapKey = immunization.groupName + "/" + treatmentName + "/" + immunization.timepoint.days;
                treatmentVisitMap[treatmentVisitMapKey] = treatmentVisitMapValue;
            }
        }, this);

        if (error)
            return;

        var assaySchedule = def.assaySchedule;
        var assayPlan = assaySchedule.description;
        Ext4.each(assaySchedule.assays, function(assay) {
            var assaySpecimen = {assayName: assay.name, sampleType: assay.sampleMeasure ? assay.sampleMeasure.type : null, lab: assay.lab};
            assaySpecimens[assay.name] = assaySpecimen;

            if (assay.timepoint)
            {
                var assaySpecimenVisit = {assaySpecimen: assaySpecimen,
                    visitKey: this.getVisitKey(this.makeVisitLabel(assay.timepoint), this.makeVisitSequenceNum(assay.timepoint))};
                assaySpecimenVisits[assay.name + "/" + assay.timepoint.days] = assaySpecimenVisit;
            }
        }, this);

        //        this.getEl().mask("Migrating information...");

        this.products = products;
        this.treatments = treatments;
        this.productAntigens = productAntigens;
        this.assaySpecimens = assaySpecimens;
        this.assaySpecimenVisits = assaySpecimenVisits;
        this.treatmentVisitMap = treatmentVisitMap;
        this.treatmentProductMap = treatmentProductMap;

        this.updateAssayPlan(migrate.design.container.path, assayPlan);
    },

    addTreatmentProductMapEntry: function(product, treatment, treatmentProductMap)
    {
        var treatmentProductMapValue = {treatment: treatment, product: product, dose: product.dose, route: product.route};
        var treatmentProductMapKey = treatment.label + "/" + product.label + "/" + product.dose + "/" + product.route;
        treatmentProductMap[treatmentProductMapKey] = treatmentProductMapValue;
    },

    updateAssayPlan: function(containerPath, assayPlan)
    {
        Ext4.Ajax.request({
            url     : LABKEY.ActionURL.buildURL('study-design', 'updateAssayPlan.api', containerPath),
            method  : 'POST',
            jsonData: {
                assayPlan: assayPlan
            },
            success: function(result) {
                this.insertTreatmentRows(containerPath);
            },
            failure: function(err) {
                this.handleFailure(err, "Update assay plan failed.")
            },
            scope: this
        });
    },

    insertTreatmentRows: function(containerPath)
    {
        var rows = [];
        for (var key in this.treatments)
        {
            var row = {label: this.treatments[key].label};
            rows.push(row);
        }

        if (Ext4.isEmpty(rows))
        {
            this.updateMigrationStatus("0 treatments");
            console.log("0 treatments");
            this.insertProductRows(containerPath);
            return;
        }

        var config = {
            schemaName: "study",
            queryName: "Treatment",
            containerPath: containerPath,
            rows: rows,
            success: function(data) {
                this.recordInsertedRows(data, this.treatments);
                this.updateMigrationStatus("Treatment");
                console.log("Success inserting: " + "Treatment");
                this.insertProductRows(containerPath);
            },
            failure : function(err) {
                this.handleFailure(err, "Inserting Treatment rows failed.");
            },
            scope   : this
        };
        LABKEY.Query.insertRows(config);
    },

    insertProductRows: function(containerPath)
    {
        var rows = [];
        for (var key in this.products)
        {
            var product = this.products[key];
            var row = {label: product.label, role: product.role, type: product.type};
            rows.push(row);
        }

        if (Ext4.isEmpty(rows))
        {
            this.updateMigrationStatus("0 products");
            console.log("0 products");
            this.insertAssaySpecimenRows(containerPath);
            return;
        }

        var config = {
            schemaName: "study",
            queryName: "Product",
            containerPath: containerPath,
            rows: rows,
            success: function(data) {
                this.recordInsertedRows(data, this.products);
                this.updateMigrationStatus("Product");
                console.log("Success inserting: " + "Product");
                this.insertAssaySpecimenRows(containerPath);
            },
            failure : function(err) {
                this.handleFailure(err, "Inserting Product rows failed.");
            },
            scope   : this
        };
        LABKEY.Query.insertRows(config);
    },

    insertAssaySpecimenRows: function(containerPath)
    {
        var rows = [];
        for (var key in this.assaySpecimens)
        {
            var assay = this.assaySpecimens[key];
            var row = {assayName: assay.assayName, sampleType: assay.sampleType, lab: assay.lab};
            rows.push(row);
        }

        if (Ext4.isEmpty(rows))
        {
            this.updateMigrationStatus("0 assaySpecimens");
            console.log("0 assaySpecimens");
            this.insertProductAntigenRows(containerPath);
            return;
        }

        var config = {
            schemaName: "study",
            queryName: "AssaySpecimen",
            containerPath: containerPath,
            rows: rows,
            success: function(data) {
                this.recordInsertedRows(data, this.assaySpecimens);
                this.updateMigrationStatus("AssaySpecimen");
                console.log("Success inserting: " + "AssaySpecimen");
                this.insertProductAntigenRows(containerPath);
            },
            failure : function(err) {
                this.handleFailure(err, "Inserting AssaySpecimen rows failed.");
            },
            scope   : this
        };
        LABKEY.Query.insertRows(config);
    },

    insertProductAntigenRows: function(containerPath)
    {
        var rows = [];
        for (var key in this.productAntigens)
        {
            var antigen = this.productAntigens[key];
            var row = {gene: antigen.gene, subtype: antigen.subtype, sequence: antigen.sequence, genBankId: antigen.genBankId,
                       productId: this.getRowId(antigen.product.insertedRow)};
            rows.push(row);
        }

        if (Ext4.isEmpty(rows))
        {
            this.updateMigrationStatus("0 productAntigens");
            console.log("0 productAntigens");
            this.insertTreatmentProductMapRows(containerPath);
            return;
        }

        var config = {
            schemaName: "study",
            queryName: "ProductAntigen",
            containerPath: containerPath,
            rows: rows,
            success: function(data) {
                this.recordInsertedRows(data, this.productAntigens);
                this.updateMigrationStatus("ProductAntigen");
                console.log("Success inserting: " + "ProductAntigen");
                this.insertTreatmentProductMapRows(containerPath);
            },
            failure : function(err) {
                this.handleFailure(err, "Inserting ProductAntigen rows failed.");
            },
            scope   : this
        };
        LABKEY.Query.insertRows(config);
    },

    insertTreatmentProductMapRows: function(containerPath)
    {
        var rows = [];
        for (var key in this.treatmentProductMap)
        {
            var treatmentProductValue = this.treatmentProductMap[key];
            var row = {dose: treatmentProductValue.dose, route: treatmentProductValue.route,
                       productId: this.getRowId(treatmentProductValue.product.insertedRow),
                       treatmentId: this.getRowId(treatmentProductValue.treatment.insertedRow)};
            rows.push(row);
        }

        if (Ext4.isEmpty(rows))
        {
            this.updateMigrationStatus("0 treatmentProductMap");
            console.log("0 treatmentProductMap");
            this.insertTreatmentVisitMapRows(containerPath);
            return;
        }

        var config = {
            schemaName: "study",
            queryName: "TreatmentProductMap",
            containerPath: containerPath,
            rows: rows,
            success: function(data) {
                this.updateMigrationStatus("TreatmentProductMap");
                console.log("Success inserting: " + "TreatmentProductMap");
                this.insertTreatmentVisitMapRows(containerPath);
            },
            failure : function(err) {
                this.handleFailure(err, "Inserting TreatmentProductMap rows failed.");
            },
            scope   : this
        };
        LABKEY.Query.insertRows(config);
    },

    insertTreatmentVisitMapRows: function(containerPath)
    {
        var rows = [];
        for (var key in this.treatmentVisitMap)
        {
            var treatmentVisitValue = this.treatmentVisitMap[key];
            var treatment = this.treatments[treatmentVisitValue.treatment.label];
            var cohort = this.cohorts[treatmentVisitValue.cohort];
            var visit = this.visits[treatmentVisitValue.visitKey];
            if (cohort && visit && treatment)
            {
                var row = {visitId: this.getRowId(visit), cohortId: this.getRowId(cohort),
                           treatmentId: this.getRowId(treatment.insertedRow)};
                rows.push(row);
            }
        }

        if (Ext4.isEmpty(rows))
        {
            this.updateMigrationStatus("0 treatmentVisitMap");
            console.log("0 treatmentVisitMap");
            this.insertAssaySpecimenVisitRows(containerPath);
            return;
        }

        var config = {
            schemaName: "study",
            queryName: "TreatmentVisitMap",
            containerPath: containerPath,
            rows: rows,
            success: function(data) {
                this.updateMigrationStatus("TreatmentVisitMap");
                console.log("Success inserting: " + "TreatmentVisitMap");
                this.insertAssaySpecimenVisitRows(containerPath);
            },
            failure : function(err) {
                this.handleFailure(err, "Inserting TreatmentVisitMap rows failed.");
            },
            scope   : this
        };
        LABKEY.Query.insertRows(config);
    },

    insertAssaySpecimenVisitRows: function(containerPath)
    {
        var rows = [];
        for (var key in this.assaySpecimenVisits)
        {
            var assaySpecimenVisit = this.assaySpecimenVisits[key];
            var visit = this.visits[assaySpecimenVisit.visitKey];
            if (visit)
            {
                var row = {visitId: this.getRowId(visit),
                           assaySpecimenId: this.getRowId(this.assaySpecimens[assaySpecimenVisit.assaySpecimen.assayName].insertedRow)};
                rows.push(row);
            }
        }

        if (Ext4.isEmpty(rows))
        {
            this.updateMigrationStatus("0 assaySpecimenVisits");
            console.log("0 assaySpecimenVisits");
            this.handleSuccess({});
            return;
        }

        var config = {
            schemaName: "study",
            queryName: "AssaySpecimenVisit",
            containerPath: containerPath,
            rows: rows,
            success: function(data) {
                this.updateMigrationStatus("AssaySpecimenVisit");
                console.log("Success inserting: " + "AssaySpecimenVisit");
                this.handleSuccess(data);
            },
            failure : function(err) {
                this.handleFailure(err, "Inserting AssaySpecimenVisit rows failed.");
            },
            scope   : this
        };
        LABKEY.Query.insertRows(config);
    },

    recordInsertedRows: function(data, tableMap)
    {
        var rowIx = 0;
        for (var key in tableMap)
        {
            tableMap[key]["insertedRow"] = data.rows[rowIx];
            rowIx += 1;
        }
    },

    calculateIsWeekBasedVisitBased: function (def)
    {
        if (this.isDateBased)
            return false;

        var isGoodSoFar = true;
        var assayDaySet = {};   // can't have same day twice for same group
        Ext4.each(def.assaySchedule.assays, function(assay) {
            if (assay.timepoint &&
                    (!assayDaySet[assay.timepoint.days] || !assayDaySet[assay.timepoint.days][assay.name]) &&
                    (assay.timepoint.displayUnit.toLowerCase() == "weeks" ||
                     assay.timepoint.days == 0))
            {
                if (!assayDaySet[assay.timepoint.days])
                    assayDaySet[assay.timepoint.days] = {};
                assayDaySet[assay.timepoint.days][assay.name] = true;
            }
            else if (assay.timepoint)   // ignore assay with no timepoint
            {
                isGoodSoFar = false;
                return false;
            }
        }, this);
        if (!isGoodSoFar)
            return false;

        var immDaySet = {};     // can't have same day twice for same group
        Ext4.each(def.immunizations, function(immunization) {
            if (immunization.timepoint &&
                    (!immDaySet[immunization.timepoint.days] || !immDaySet[immunization.timepoint.days][immunization.groupName]) &&
                    (immunization.timepoint.displayUnit.toLowerCase() == "weeks" ||
                     immunization.timepoint.days == 0))
            {
                if (!immDaySet[immunization.timepoint.days])
                    immDaySet[immunization.timepoint.days] = {};
                immDaySet[immunization.timepoint.days][immunization.groupName] = true;
            }
            else if (immunization.timepoint)    // ignore immunization with no timepoint
            {
                isGoodSoFar = false;
                return false;
            }
        }, this);
        if (!isGoodSoFar)
            return false;

        if (this.visits.length == 0)
            return true;

        Ext4.Object.each(this.visits, function(key, visit) {
            if (!(undefined == visit.Label || null == visit.Label || "" == visit.Label))
            {
                isGoodSoFar = false;
                return false;
            }
        }, this);
        if (!isGoodSoFar)
            return false;

        var expectedSeqNum = 0;
        var visitKeys = Object.keys(this.visits);
        if (0 == visitKeys.length)
            return true;

        visitKeys.sort();
        if (visitKeys[0] == 1)
            expectedSeqNum = 1;
        for (var i = 0; i < visitKeys.length; i += 1)
        {
            if (expectedSeqNum != visitKeys[i])
                return true;
            else
                expectedSeqNum += 1;
        }
        // all visits are in sequence 1,2,3.... or 0,1,2... check assay schedule
        Ext4.each(def.assaySchedule.assays, function(assay) {
            if (assay.timepoint && !this.visits[assay.timepoint.days / 7])
            {
                isGoodSoFar = false;
                return false;
            }
        }, this);
        if (!isGoodSoFar)
            return false;
        return true;
    },

    getRowId: function(obj) {
        if (obj.rowid)
            return obj.rowid;
        if (obj.rowId)
            return obj.rowId;
        if (obj.RowId)
            return obj.RowId;
        if (obj.Rowid)
            return obj.Rowid;
        this.handleWarning("rowId not found");
        return null;
    },

    // TEMP: delete all rows from these tables to help debug
    deleteAllRows: function()
    {
        if (this._doneMigrations.length == 0)
            return;
        var migrate = this._doneMigrations[0];
        this.deleteAllRowsMigration(migrate);
    },

    deleteAllRowsMigration: function(migrate)
    {
        this.deleteAllRowsFromTable(migrate.design.container.path, "AssaySpecimenVisit");
        this.deleteAllRowsFromTable(migrate.design.container.path, "TreatmentVisitMap");
        this.deleteAllRowsFromTable(migrate.design.container.path, "TreatmentProductMap");
        this.deleteAllRowsFromTable(migrate.design.container.path, "ProductAntigen");
        this.deleteAllRowsFromTable(migrate.design.container.path, "AssaySpecimen");
        this.deleteAllRowsFromTable(migrate.design.container.path, "Product");
        this.deleteAllRowsFromTable(migrate.design.container.path, "Treatment");
    },

    deleteAllRowsFromTable: function (containerPath, queryName)
    {
        var config = {
            schemaName: "study",
            queryName: queryName,
            containerPath: containerPath,
            success: function(data) {
                if (data.rows.length > 0)
                {
                    var delConfig = {
                        schemaName: "study",
                        queryName: queryName,
                        containerPath: containerPath,
                        rows: data.rows,
                        success: function(data) {
                            console.log("Success clearing: " + queryName);
                        },
                        failure : function(err) {
                            console.log("Fail clearing: " + queryName + "; " + err);
                        },
                        scope   : this
                    };
                    LABKEY.Query.deleteRows(delConfig);
                }
            },
            failure : function() {},
            scope   : this
        };
        LABKEY.Query.selectRows(config);
    },

    updateMigrationStatus: function(text)
    {
        var migrate = this._migrations[this.nextMigration];
        Ext4.get(migrate.study.Container).insertHtml('beforeEnd', ", " + text);
    }
};

Ext4.onReady(function() {
    _migrateControl.getStudyDesigns();
    LABKEY.NavTrail.setTrail("Migrate Study Designs");
});

</script>

<div>Each of the following studies has an XML study design. Those marked '[already done]' have already been migrated or already
    have data in study design tables, such as Treatment, Product or Personnel. Clicking 'Migrate' will migrate those not yet migrated.</div>
<div id="migrateList"><ul>

</ul></div>
<button id="migrateButton" onclick="_migrateControl.doMigration();" disabled>Migrate</button>
<button id="deleteButton" onclick="_migrateControl.deleteAllRows();">Delete Migrated Data</button>