<div id="error-div"></div>
<div id="upload-diagnostic-div"></div>
<script type="text/javascript">
//
// setup when we get the field configs from the schemaHelper
//
var _fieldNames = [];

function submitDiagnostic()
{
    if (!validateForm())
        return;

    var formCmp = Ext4.getCmp('upload-diagnostic-form');
    var fields = formCmp.getForm().getFields();
    var row = {};

    for (var idx = 0; idx < _fieldNames.length; idx++)
    {
        var f = _fieldNames[idx];
        row[f] = fields.get(f).getValue();
    }

    // ensure we don't send timezone info over for time
    var date = row[LABKEY.icemr.diagnostics.date];
    var time = row[LABKEY.icemr.diagnostics.time];

    row[LABKEY.icemr.diagnostics.date] = LABKEY.icemr.stripTimeZoneDate(date);
    row[LABKEY.icemr.diagnostics.time] = LABKEY.icemr.stripTimeZoneDateTime(date, time);

    var run = new LABKEY.Exp.Run();

    run.name = row[LABKEY.icemr.diagnostics.participant];
    run.dataRows = [];
    run.dataRows.push(row);

    LABKEY.page.batch.runs = [];
    LABKEY.page.batch.runs.push(run);
    LABKEY.setDirty(true);

    LABKEY.Experiment.saveBatch({
        assayId : LABKEY.page.assay.id,
        batch : LABKEY.page.batch,
        success : function (batch, response)
        {
            showResults();
        },
        failure : function (error, format)
        {
            handleError("Failure when communicating with the server: " + error.exception, false);
        }
    });
}

function goBack()
{
    window.history.back();
}

function showResults()
{
    window.location.href = LABKEY.ActionURL.buildURL('assay', 'assayResults', null,
                {rowId:LABKEY.page.assay.id});
}

function validateForm()
{
    // clear out error messages.
    handleError("", true);

    var form = Ext4.getCmp('upload-diagnostic-form');
    if(form.getForm().isValid())
        return true;
    else
        handleError("Errors in your submission. See below.");
    return false;
}

function handleError(msg, reset)
{
    var errorEl = document.getElementById('error-div');
    if(!(reset))
    {
        errorEl.innerHTML += "<span style='color:red;'>> " + Ext4.util.Format.htmlEncode(msg) + "<br/></span>";
    }
    else
    {
        errorEl.innerHTML = "";
    }
}

function onFieldConfigsReady(runConfigs, resultConfigs)
{
    //
    // fixup our field configs
    //
    var defaultDate = new Date();
    var scientistConfig;
    var participantConfig;

    for (var i = 0; i < resultConfigs.length; i++)
    {
        var config = resultConfigs[i];

        //
        // handle combos
        //
        if (config.name == LABKEY.icemr.diagnostics.thick ||
            config.name == LABKEY.icemr.diagnostics.thin ||
            config.name == LABKEY.icemr.diagnostics.RDT)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.diagnostics.speciesOptions)
        }

        if (config.name == LABKEY.icemr.diagnostics.bacteria)

        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.diagnostics.bacteriaOptions)
        }

        //
        // show the time picker for measurement time
        //
        if (config.name == LABKEY.icemr.diagnostics.time)
        {
            config.xtype = 'timefield';
            config.value = '12:00 PM';
        }

        if (config.name == LABKEY.icemr.diagnostics.date)
        {
            config.value = defaultDate;
        }

        if (config.name == LABKEY.icemr.diagnostics.hemoglobin)
        {
            //
            // this is the only field that is a double
            // but not a percentage so ensure validation
            // is correct
            //
            config.vtype = 'doubleNumber';
        }

        if (config.name == LABKEY.icemr.diagnostics.scientist)
        {
            scientistConfig = config;
        }

        if (config.name == LABKEY.icemr.diagnostics.participant)
        {
            participantConfig = config;
        }

        // save the original name to bind to later
        _fieldNames.push(config.name);
    }

    resultConfigs = LABKEY.icemr.reorderList(resultConfigs, scientistConfig, participantConfig);

    //
    // push our button configs on to the end now
    //
    resultConfigs.push({
        xtype : 'fieldcontainer',
        layout : {
            type : 'hbox',
            pack : 'end',
            defaultMargins : '2'
        },
        items : [
            {
                xtype   : 'button',
                text    : 'Submit',
                handler : submitDiagnostic
            }, {
                xtype   : 'button',
                text    : 'Cancel',
                handler : goBack
            }, {
                xtype : 'hidden',
                name : 'X-LABKEY-CSRF',
                value: LABKEY.CSRF
            }
        ]
    });

        //
    // create our form
    //
    var fp = new Ext4.FormPanel({
        renderTo: 'upload-diagnostic-div',
        id      : 'upload-diagnostic-form',
        width : 350,
        defaults: {
            validationEvent: false,
            width : 300,
            allowBlank : false,
            style : { margin: '2 0 2 0' },
            labelAlign : 'left',
            labelWidth : 150
        },
        method : 'POST',
        enctype :'multipart/form-data',
        border : false,
        stateful : false,
        autoHeight : true,
        frame : true,
        items : resultConfigs
    });
}

Ext4.onReady(function() {
    Ext4.QuickTips.init();
    // numeric field validation
    //
    LABKEY.icemr.initValidators();
    LABKEY.icemr.diagnostics.getFieldConfigs(onFieldConfigsReady);
});
</script>