<div id="error-div"></div>
<div id="upload-speciesSpecific-div"></div>
<script type="text/javascript">
    //
    // setup when we get the field configs from the schemaHelper
    //
    var _fieldNames = [];

    function submitSuccess(batch, response)
    {
        showResults();
    }

    function submitFailure(error, format)
    {
        handleError("Failure when communicating with the server: " + error.exception, false);
    }

    function submitSpeciesSpecific()
    {
        if (!validateForm())
            return;

        var speciesForm = Ext4.getCmp('upload-speciesSpecific-form').getForm();
        var imageForm = Ext4.getCmp('upload-gelImage-form').getForm();
        var speciesFields = speciesForm.getFields();
        var imageFields = imageForm.getFields();
        var row = {};

        for (var idx = 0; idx < _fieldNames.length; idx++)
        {
            var f = _fieldNames[idx];

            if (f == LABKEY.icemr.speciesSpecific.gelImage)
            {
                row[f] = imageFields.get(f).getValue();
            }
            else
            {
                row[f] = speciesFields.get(f).getValue();
            }
        }
        // ensure we don't send timezone info over
        var date = row[LABKEY.icemr.speciesSpecific.date];
        row[LABKEY.icemr.speciesSpecific.date] = LABKEY.icemr.stripTimeZoneDate(date);

        if (row[LABKEY.icemr.speciesSpecific.gelImage])
        {
            imageForm.submit({
                url : LABKEY.ActionURL.buildURL("assay", "assayFileUpload"),
                success : function (form, action) {
                    var data = new LABKEY.Exp.Data(action.result);
                    LABKEY.icemr.speciesSpecific.saveBatch(row, data, submitSuccess, submitFailure);
                },
                failure : function (form, action) {
                    var error = {};
                    error.exception = "Image upload failed.";
                    submitFailure(error, null)
                }
            });
        }
        else
        {
            LABKEY.icemr.speciesSpecific.saveBatch(row, null, submitSuccess, submitFailure)
        }
    }

    function goBack()
    {
        window.history.back();
    }

    function showResults()
    {
        window.location.href = LABKEY.ActionURL.buildURL('assay', 'assayResults', null,
                {rowId:LABKEY.page.assay.id});
    }

    function validateForm()
    {
        // clear out error messages.
        handleError("", true);

        var form = Ext4.getCmp('upload-speciesSpecific-form');
        if(form.getForm().isValid())
            return true;
        else
            handleError("Errors in your submission. See below.");
        return false;
    }

    function handleError(msg, reset)
    {
        var errorEl = document.getElementById('error-div');
        if(!(reset))
        {
            errorEl.innerHTML += "<span style='color:red;'>> " + Ext4.util.Format.htmlEncode(msg) + "<br/></span>";
        }
        else
        {
            errorEl.innerHTML = "";
        }
    }

    function getDefaults()
    {
        return {
            validationEvent: false,
            width : 300,
            allowBlank : false,
            style : { margin: '2 0 2 0' },
            labelAlign : 'left',
            labelWidth : 150
        };
    }

    function getImageUpload(config)
    {
        // set this config up as a file field
        config.xtype = 'filefield';
        config.emptyText = 'Select an image';
        config.buttonText = '...';

        // and add to our hidden panel
        return new Ext4.FormPanel({
            border : 0,
            id : 'upload-gelImage-form',
            bodyStyle: {background: 'transparent'},
            defaults: getDefaults(),
            items : [config, {xtype : 'hidden', name : 'X-LABKEY-CSRF', value: LABKEY.CSRF}]
        });
    }

    function onFieldConfigsReady(runConfigs, resultConfigs)
    {
        //
        // fixup our field configs
        //
        var defaultDate = new Date();

        //
        // create a new list of configs and swap out the gel image config
        // with a new form for uploading the image
        //
        var formConfigs = [];
        var scientistConfig;
        var participantConfig;

        for (var i = 0; i < resultConfigs.length; i++)
        {
            var config = resultConfigs[i];

            if (config.name == LABKEY.icemr.speciesSpecific.date)
                config.value = defaultDate;

            // save the original name to bind to later
            _fieldNames.push(config.name);

            if (config.name == LABKEY.icemr.speciesSpecific.gelImage)
                formConfigs.push(getImageUpload(config));
            else
                formConfigs.push(config);

            if (config.name == LABKEY.icemr.speciesSpecific.scientist)
                scientistConfig = config;

            if (config.name == LABKEY.icemr.speciesSpecific.participant)
                participantConfig = config;
        }

        formConfigs = LABKEY.icemr.reorderList(formConfigs, scientistConfig, participantConfig);

        //
        // push our button configs on to the end now
        //
        formConfigs.push({
            xtype : 'fieldcontainer',
            layout : {
                type : 'hbox',
                pack : 'end',
                defaultMargins : '2'
            },
            items : [
                {
                    xtype   : 'button',
                    text    : 'Submit',
                    handler : submitSpeciesSpecific
                }, {
                    xtype   : 'button',
                    text    : 'Cancel',
                    handler : goBack
                }, {
                    xtype : 'hidden',
                    name : 'X-LABKEY-CSRF',
                    value: LABKEY.CSRF
                }
            ]
        });

        //
        // create our form
        //
        var fp = new Ext4.FormPanel({
            renderTo: 'upload-speciesSpecific-div',
            id      : 'upload-speciesSpecific-form',
            width : 350,
            defaults: getDefaults(),
            method : 'POST',
            enctype :'multipart/form-data',
            border : false,
            stateful : false,
            autoHeight : true,
            frame : true,
            items : formConfigs
        });
    }

    Ext4.onReady(function() {
        Ext4.QuickTips.init();
        // numeric field validation
        LABKEY.icemr.initValidators();
        LABKEY.icemr.speciesSpecific.getFieldConfigs(onFieldConfigsReady);
    });
</script>