<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<a id='test'>Go to my assay</a>
<script>
    function successFn(assays) {
        document.getElementById('test').href =
                LABKEY.ActionURL.buildURL('assay', 'moduleAssayUpload', null ,
                        {rowId:assays[0].id});

        console.log(assays);
    }

    Ext.onReady(function() {
        LABKEY.Assay.getByName({name:'Diagnostics', success:successFn});
    });
</script>
</body>
</html>