<div id="error-div"></div>
<div id="upload-adaptation-div"></div>
<script type="text/javascript">

LABKEY.requiresScript("assay/validation.js");
LABKEY.requiresScript("assay/adaptation/uploadhelper.js");

var _runFieldConfigs;
var _resultFieldConfigs;
var _runData; // experiment data
var _resultFile;
var numFlasks = 1;
var _flasksPanel;

function onSaveSuccess(result)
{
    //
    // just to to the runs view for now
    // Note we need to use LABKEY.icemr.adapation.assayId instead of the
    // LABKEY.page.assay.id since we came in through a custom view
    //
    window.location.href = LABKEY.ActionURL.buildURL('assay', 'assayRuns', null,
            {rowId:LABKEY.icemr.adaptation.assayId});
}

function submitDaily()
{
    if (!validateForm())
        return;

    var results = [];
    var target;
    var trueValue;

    for(var i = 0; i < numFlasks; i++){
        var result = {};

        for(r = 0; r < _flasksPanel.items.items[i].items.items.length; r++){
            target =  _flasksPanel.items.items[i].items.items[r];
            console.log(typeof target.value);
            if(target.value == 'Yes')
            {
                trueValue = true;
            }
            else
            if(target.value == 'No')
            {
                // growth test is stored as an integer so map 'no' value to null
                if (target.dataIndex == LABKEY.icemr.adaptation.growthFoldTestInitiated ||
                        target.dataIndex == LABKEY.icemr.adaptation.growthFoldTestFinished)
                    trueValue = null;
                else
                    trueValue = false;
            }
            else trueValue = target.value;

            result[target.id.substring(0, target.id.length-1)] = trueValue;
        }
        results.push(result);
        console.log(results);
    }

    saveDaily(results, onSaveSuccess)
}

function goBack()
{
    window.history.back();
}

function showRuns()
{
    window.location.href = LABKEY.ActionURL.buildURL('assay', 'assayRuns', null,
            {rowId:LABKEY.page.assay.id});
}

function validateForm()
{
    // clear out error messages.
    handleError("", true);

    var form = Ext4.getCmp('upload-adaptation-form');
    if(form.getForm().isValid())
        return true;
    else
        handleError("Errors in your submission. See below.");
    return false;
}

function handleError(msg, reset)
{
    var errorEl = document.getElementById('error-div');
    if(!(reset))
    {
        errorEl.innerHTML += "<span style='color:red;'>> " + msg + "<br/></span>";
        Ext4.Msg.hide();
    }
    else
    {
        errorEl.innerHTML = "";
    }
}


Ext4.onReady(function() {
    Ext4.QuickTips.init();
    initValidators();
    getAdaptationFieldConfigs(onConfigsReady)
})

function onConfigsReady(runConfigs, resultConfigs)
{
    //
    // we have a patient id field for the flask but we don't need to show it
    // in the UI since it is already a run property
    //
    for (var i = 0; i < resultConfigs.length; i++)
    {
        var config = resultConfigs[i];
        //
        // handle combos
        //
        if (config.name == LABKEY.icemr.adaptation.stage)
        {
            setComboConfig(config, LABKEY.icemr.adaptation.stageOptions);
        }
        else if (config.name == LABKEY.icemr.adaptation.growthFoldTestInitiated ||
                config.name == LABKEY.icemr.adaptation.growthFoldTestFinished)
        {
            setComboConfig(config, LABKEY.icemr.adaptation.oneTwoThreeOptions);
        }
        else if (config.name == LABKEY.icemr.adaptation.contamination ||
                config.name == LABKEY.icemr.adaptation.flaskMaintenanceStopped ||
                config.name == LABKEY.icemr.adaptation.interestingResult)
        {
            setComboConfig(config, LABKEY.icemr.adaptation.yesNoOptions);
        }
        else if (config.name == LABKEY.icemr.adaptation.mycotest)
        {
            setComboConfig(config, LABKEY.icemr.adaptation.positiveNegativeOptions);
        }
        else if (config.name == LABKEY.icemr.adaptation.dateIndex)
        {
            config.hidden = true;
        }
    }

    _runFieldConfigs = runConfigs;
    _resultFieldConfigs = resultConfigs;

    //
    // fetch our run data so that we can populate our data
    //
    var params = LABKEY.ActionURL.getParameters();
    getAdaptationRunData(params.protocolId, params.batchId, params.rowId, onRunDataReady)
}

function onDailyFileUploadSuccess(dailyResults)
{
    //
    // populate form with data as a 'preview'
    // note that the real UI should show all the columns, for this skeleton
    // I am just populationg the 0th result
    //

    if (dailyResults.length > 0)
    {
        Ext4.getCmp('submitButton').setVisible(true);
        Ext4.getCmp('uploadFormPanel').setVisible(false);

        _flasksPanel.setVisible(true);
        for(var i = 0; i < dailyResults.length-1; i++)
        {
            _flasksPanel.addFlask();
        }

        var form = _flasksPanel.items.items[0];
        for(var i = 0; i < dailyResults.length; i++){
            var dailyResult = dailyResults[i];
            for (var key in dailyResult)
            {
                form = _flasksPanel.items.items[i];
                var value = dailyResult[key];
                var field = form.getComponent(key +(i+1));

                if (key == LABKEY.icemr.adaptation.measurementDate)
                {
                    field.setValue(new Date(value));
                }
                else
                if (key == LABKEY.icemr.adaptation.growthFoldTestInitiated ||
                        key == LABKEY.icemr.adaptation.growthFoldTestFinished)
                {
                    field.setValue(getFormGrowthTestValue(value));
                }
                else
                if (key == LABKEY.icemr.adaptation.interestingResult ||
                        key == LABKEY.icemr.adaptation.contamination ||
                        key == LABKEY.icemr.adaptation.flaskMaintenanceStopped)
                {
                    field.setValue(getFormYesNoValue(value));
                }
                else
                if (key == LABKEY.icemr.adaptation.mycotest)
                {
                    field.setValue(getFormPosNegValue(value));
                }
                else
                {
                    field.setValue(value);
                }
            }
        }
        //Height helper to ensure that all the boxes line up.
        adjustSizes();
    }
}

//If this doesn't happen late on, it doesn't work
function adjustSizes()
{
    if(numFlasks > 1){
        for(var i = 1; i < _flasksPanel.items.items.length; i++)
        {
            var flaskFields = _flasksPanel.items.items[i].items.items;
            for(var r = 0; r < flaskFields.length; r++){
                if(flaskFields[r].xtype === 'textfield')
                {
                    flaskFields[r].inputEl.setHeight(22);
                }
            }
        }
    }
}

function handleDailyUpload(f, action)
{
    if (!action || !action.result) {
        Ext4.Msg.alert("Upload Failed", "Something went horribly wrong when uploading.");
        return;
    }
    if (!action.result.id) {
        Ext4.Msg.alert("Upload Failed", "Failed to upload the data file: " + action.result);
        return;
    }
    processDailyFileUpload(action.result, onDailyFileUploadSuccess);
}

function createFileUploadPanel()
{
    var uploadFormPanel = Ext4.create('Ext4.form.Panel', {
        id : 'uploadFormPanel',
        renderTo : Ext4.getBody(),
        frame : true,
        items : [{
            xtype : 'filefield',
            name : 'dailyUpload',
            inputId : 'fileInput',
            fieldLabel : 'Daily Upload',
            labelWidth : 95,
            width : 400,
            allowBlank : true,
            buttonText : 'Select file ...'
        },{
            xtype : 'fieldcontainer',
            layout : {
                type : 'hbox',
                pack : 'center',
                defaultMargins : '2'
            },
            items : [
                {
                    xtype   : 'button',
                    text    : 'Upload',
                    handler : function () {
                        var form = this.up('form').getForm();
                        form.submit ({
                            url: LABKEY.ActionURL.buildURL("assay", "assayFileUpload"),
                            waitMsg: 'Uploading file ...',
                            success : handleDailyUpload,
                            failure : handleDailyUpload
                        })
                    }
                }]
        }]
    });

    return uploadFormPanel;
}

function generateTemplateFile()
{
    //
    // pass in the measurement date from the form
    //
    var formCmp = Ext4.getCmp('upload-adaptation-form');
    var fields = formCmp.getForm().getFields();
    var measurementDate = fields.get('_' + LABKEY.icemr.adaptation.measurementDate).getValue();
    getDailyUploadTemplate(measurementDate);
}

function onRunDataReady(runData)
{
    //
    // fill in the values for our form and make the run data
    // read only
    //

    var formRunFieldConfigs = [];

    for (var i = 0; i < _runFieldConfigs.length; i++)
    {
        var config = _runFieldConfigs[i];
        if (config.xtype == 'datefield')
        {
            config.value = new Date(runData[config.name]);
        }
        else
        {
            config.value = runData[config.name];
        }
        config.readOnly = true;

        formRunFieldConfigs.push(config);
    }

    _runData = runData;

    //
    // add a measurement date field that we'll use to generate
    // the template file
    //
    formRunFieldConfigs.push({
        xtype : 'datefield',
        id: '_' + LABKEY.icemr.adaptation.measurementDate,
        fieldLabel : 'Maintenance Date',
        value : new Date()
    });

    formRunFieldConfigs.push({
        xtype   : 'button',
        text    : 'Get Template',
        handler : generateTemplateFile
    });

    var getFlaskConfigs = function(){
        var newArray = Ext4.clone(_resultFieldConfigs);
        newArray[0].text = 'Flask ' + numFlasks;
        for(var i = 0; i < newArray.length; i++){
            newArray[i].id += numFlasks;
            newArray[i].name += numFlasks;
            if(numFlasks != 1)
            {
                newArray[i].fieldLabel = null;
                newArray[i].height = _flasksPanel.items.items[0].items.items[i].getHeight();
            }
        }
        return newArray;
    };

    var addFlask = function(){
        numFlasks++;
        fp.width += 175;
        _flasksPanel.add(            {
            xtype : 'fieldcontainer',
            id : 'flask ' + numFlasks,
            layout : {
                type : 'vbox',
                defaultMargins : '2 10 2 10'
            },
            items : getFlaskConfigs(),
            listeners : {
                fieldvaliditychange : function(){
                    adjustSizes();
                }
            }
        });
        _flasksPanel.doLayout();
        fp.doLayout();
    };

    _flasksPanel = Ext4.create('Ext.form.FieldContainer', {
        fieldLabel : 'Result',
        hidden : true,
        layout : {
            type : 'hbox',
            defaultMargins : '2 0 2 0'
        },
        items : [{                 xtype : 'fieldcontainer',
            layout : {
                type : 'vbox',
                defaultMargins : '2 0 2 0'
            },
            items : getFlaskConfigs()
        }],
        getconfigs : getFlaskConfigs,
        addFlask : addFlask
    });

    // Create our form with two containers to separate
    // the flask properties data for each flask
    //
    var fp = Ext4.create('Ext.form.Panel', {
        renderTo: 'upload-adaptation-div',
        id      : 'upload-adaptation-form',
        width : 455,
        defaults: {
            validationEvent: false,
            allowBlank : false,
            style : { margin: '2 0 2 0' },
            labelAlign : 'left',
            labelWidth : 100
        },
        method : 'POST',
        enctype :'multipart/form-data',
        border : false,
        stateful : false,
        autoHeight : true,
        frame : true,
        items : [
            {
                xtype : 'fieldcontainer',
                fieldLabel : 'Run',
                layout : {
                    type : 'vbox',
                    defaultMargins : '2 0 2 0'
                },
                items : formRunFieldConfigs
            },
            createFileUploadPanel(),
            _flasksPanel,{
                xtype : 'fieldcontainer',
                layout : {
                    type : 'hbox',
                    pack : 'end',
                    defaultMargins : '2'
                },
                items : [
                    {
                        id : 'submitButton',
                        hidden : true,
                        xtype   : 'button',
                        text    : 'Submit',
                        handler : submitDaily
                    }, {
                        id : 'cancelButton',
                        xtype   : 'button',
                        text    : 'Cancel',
                        handler : goBack
                    }]
            }
        ]
    });
}
</script>