<div id="error-div"></div>
<div id="upload-adaptation-div"></div>
<script type="text/javascript">

var _runFieldConfigs;
var _resultFieldConfigs;
var _resultFile;
var _formPanel; // Overall panel for the UI

function onSaveSuccess(response)
{
    //
    // just to to the runs view for now
    // Note we need to use LABKEY.icemr.adapation.assayId instead of the
    // LABKEY.page.assay.id since we came in through a custom view
    //
    window.location.href = LABKEY.ActionURL.buildURL('assay', 'assayRuns', null,
            {rowId:LABKEY.icemr.tracking.assayId});
}

// copy form data into structures we send down to the
// LABKEY.icemr.tracking layer.  Each experiment has a flaskPanel
// that contains one or more flasks
function collectFlaskData(flaskPanel, panelNum)
{
    var flaskResults = [];
    var trueValue;

    // iterate over flasks
    for (var i = 0; i < flaskPanel.items.items.length; i++)
    {

        // iterate over flask fields
        var flask = flaskPanel.items.items[i];
        var flaskResult = {};

        for (var j = 0; j < flask.items.items.length; j++)
        {
            var field = flask.items.items[j];

            if(field.value == 'Yes')
            {
                trueValue = true;
            }
            else
            if(field.value == 'No')
            {
                // growth test is stored as an integer so map 'no' value to null
                if (field.dataIndex == LABKEY.icemr.tracking.growthFoldTestInitiated ||
                        field.dataIndex == LABKEY.icemr.tracking.growthFoldTestFinished)
                    trueValue = null;
                else
                    trueValue = false;
            }
            else trueValue = field.value;

            // strip the unique flask id from the field id
            var suffix = getFlaskId(panelNum, i);
            flaskResult[field.id.substring(0, field.id.length-suffix.length)] = trueValue;
        }
        flaskResults.push(flaskResult);
    }

    return flaskResults;
}

function submitDaily()
{
    if (!validateForm())
        return;

    var results = [];

    //
    // a result consists of an experiment id with all its flasks
    //
    for (var i = 0; i < LABKEY.icemr.tracking.batches.length; i++)
    {
        var result = {};
        var exp = _formPanel.getComponent('experimentSet' + i);

        var flaskPanel = exp.getComponent('flaskPanel' + i);
        result[LABKEY.icemr.tracking.experiment] = exp.experimentId;
        result[LABKEY.icemr.tracking.flasks] = collectFlaskData(flaskPanel ,i);
        results.push(result);
    }

    LABKEY.icemr.tracking.saveDaily(results, onSaveSuccess);
}

function goBack()
{
    window.history.back();
}

function showRuns()
{
    window.location.href = LABKEY.ActionURL.buildURL('assay', 'assayRuns', null,
            {rowId:LABKEY.page.assay.id});
}

function colorExperimentGroups(form)
{
    for (var i = 0; i < form.items.items.length; i++)
    {
        var cmp = form.items.items[i];
        if (cmp.id.indexOf("experimentSet") != -1)
        {
            var set = cmp.id.substr("experimentSet".length);
            var flaskPanel = cmp.getComponent('flaskPanel' + set);
            var valid = true;
            for (var j = 0; j < flaskPanel.items.items.length; j++)
            {
                var flask = flaskPanel.items.items[j];
                for (var k = 0; k < flask.items.items.length; k++)
                {
                    var field = flask.items.items[k];
                    valid = field.isValid();
                    if (!valid)
                        break;
                }

                // if any field of any flask is invalid then mark the fieldset component
                // as invalid
                if (!valid)
                    break;
            }
            if (valid)
                cmp.setTitle(cmp.experimentId);
            else
                cmp.setTitle("<span style='color:red;'><b>" + Ext4.util.Format.htmlEncode(cmp.experimentId) + "</b></span>");
        }
    }
    form.doLayout();
}

function validateForm()
{
    // clear out error messages.
    handleError("", true);

    var form = Ext4.getCmp('upload-adaptation-form');
    if(form.getForm().isValid())
        return true;
    else
    {
        colorExperimentGroups(form);
        handleError("Errors in your submission. See below.");
    }
    return false;
}

function handleError(msg, reset)
{
    var errorEl = document.getElementById('error-div');
    if(!(reset))
    {
        errorEl.innerHTML += "<span style='color:red;'>> " + Ext4.util.Format.htmlEncode(msg) + "<br/></span>";
        Ext4.Msg.hide();
    }
    else
    {
        errorEl.innerHTML = "";
    }
}

Ext4.onReady(function() {
    var params = LABKEY.ActionURL.getParameters();
    Ext4.QuickTips.init();
    LABKEY.icemr.initValidators();
    LABKEY.icemr.tracking.getSelectedExperiments(params.schemaName, params.queryName, params.selectionKey,
        onConfigsReady);
});

function onConfigsReady(runConfigs, resultConfigs)
{
    var scientistConfig;
    var afterConfig;
    //
    // we have a patient id field for the flask but we don't need to show it
    // in the UI since it is already a run property
    //
    for (var i = 0; i < resultConfigs.length; i++)
    {
        var config = resultConfigs[i];
        //
        // handle combos
        //
        if (config.name == LABKEY.icemr.tracking.stage)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.tracking.stageOptions);
        }
        else if (config.name == LABKEY.icemr.tracking.growthFoldTestInitiated ||
                config.name == LABKEY.icemr.tracking.growthFoldTestFinished)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.tracking.oneTwoThreeOptions);
        }
        else if (config.name == LABKEY.icemr.tracking.contamination ||
                config.name == LABKEY.icemr.tracking.flaskMaintenanceStopped ||
                config.name == LABKEY.icemr.tracking.interestingResult)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.tracking.yesNoOptions);
        }
        else if (config.name == LABKEY.icemr.tracking.mycotest)
        {
            LABKEY.icemr.setComboConfig(config, LABKEY.icemr.tracking.positiveNegativeTestOptions);
        }
        else if (config.name == LABKEY.icemr.tracking.dateIndex)
        {
            config.hidden = true;
        }
        else if (config.name == LABKEY.icemr.tracking.scientist)
        {
            scientistConfig = config;
        }
        else if (config.name == LABKEY.icemr.tracking.parasitemia)
        {
            afterConfig = config;
        }
    }

    _runFieldConfigs = runConfigs;
    _resultFieldConfigs = LABKEY.icemr.reorderList(resultConfigs, scientistConfig, afterConfig);
    LABKEY.icemr.tracking.getAllRunData(onRunDataReady);
}

function findDailyResultForExperimentSet(experimentSet, dailyResults)
{
    for (var i = 0; i < dailyResults.length; i++)
    {
        var dailyResult = dailyResults[i];
        if (dailyResult[LABKEY.icemr.tracking.experiment] == experimentSet.experimentId)
            return dailyResult;
    }

    return null;
}

function checkDailyFileUpload(dailyResults)
{
    var expectedNum = LABKEY.icemr.tracking.batches.length;
    var actualNum = dailyResults.length;

    // clear out any old errors
    handleError("", true);

    if (actualNum != expectedNum)
    {
        var e = (expectedNum == 1) ? " experiment " : " experiments ";
        var w = (actualNum == 1) ? " was " : " were ";

        handleError("Daily Upload error.  Expected data for " + expectedNum + e + "but " + actualNum + w + "provided.");
        return false;
    }

    for(var i = 0; i < actualNum; i++)
    {
        var exp = _formPanel.getComponent('experimentSet' + i);
        var dailyResult = findDailyResultForExperimentSet(exp, dailyResults);

        if (!dailyResult)
        {
            handleError("Daily Upload error.  Could not find data for " + exp.experimentId);
            return false;
        }
    }

    return true;
}

function onDailyFileUploadSuccess(dailyResults)
{
    if (!checkDailyFileUpload(dailyResults))
        return;

    for(var i = 0; i < dailyResults.length; i++)
    {
        var exp = _formPanel.getComponent('experimentSet' + i);
        var flaskPanel = exp.getComponent('flaskPanel' + i);
        //
        // be sure to insert the results from the uploaded template file in the same order as laid out in the form
        //
        var dailyResult = findDailyResultForExperimentSet(exp, dailyResults);
        exp.setVisible(true);
        flaskPanel.setVisible(true);

        for (var j = 0; j < dailyResult.flasks.length; j++)
        {
            var flaskId = getFlaskId(i, j);
            addFlask(flaskPanel, j, flaskId);
            var dailyFlask = dailyResult.flasks[j];
            var form = flaskPanel.items.items[j];
            for (var key in dailyFlask)
            {
                var value = dailyFlask[key];
                var field = form.getComponent(key + flaskId);

                if (key == LABKEY.icemr.tracking.measurementDate)
                {
                    field.setValue(new Date(value));
                }
                else
                if (key == LABKEY.icemr.tracking.growthFoldTestInitiated ||
                        key == LABKEY.icemr.tracking.growthFoldTestFinished)
                {
                    field.setValue(LABKEY.icemr.getFormGrowthTestValue(value));
                }
                else
                if (key == LABKEY.icemr.tracking.interestingResult ||
                        key == LABKEY.icemr.tracking.contamination ||
                        key == LABKEY.icemr.tracking.flaskMaintenanceStopped)
                {
                    field.setValue(LABKEY.icemr.getFormYesNoValue(value));
                }
                else
                if (key == LABKEY.icemr.tracking.mycotest)
                {
                    field.setValue(LABKEY.icemr.getFormPosNegValue(value));
                }
                else
                if (key == LABKEY.icemr.tracking.scientist)
                {
                    // lookup by display name not the user id
                    var rec = field.findRecordByDisplay(value);
                    if (rec)
                        field.setValue(rec.data.UserId);
                }
                else
                {
                    field.setValue(value);
                }
            }
        }
    }

    Ext4.getCmp('submitButton').setVisible(true);
    Ext4.getCmp('uploadFormPanel').setVisible(false);
    Ext4.getCmp('templateButton').setVisible(false);
}

//
// ensure the form is wide enough to contain all the flasks
// we added
//
function adjustWidth(fieldSet)
{
    var flaskPanel = fieldSet.items.items[0];
    var flaskWidth = 0;
    for (var j = 0; j < flaskPanel.items.items.length; j++)
    {
        flaskWidth += flaskPanel.items.items[j].getWidth();
    }

    if (flaskWidth > _formPanel.getWidth())
        _formPanel.setWidth(flaskWidth + 20);
}

//
// If we hide the labels all flasks after the first column
// we get serious alignment issues.  This function aligns the input
// elements to match the alignment of the first flask (column 0) which
// is spaced differently because of the labels
//
function adjustHeight(fieldSet)
{
    var flaskPanel = fieldSet.items.items[0];
    var firstFlask = flaskPanel.items.items[0];
    var j, r, flaskFields, flaskField;

    for(j = 1; j < flaskPanel.items.items.length; j++)
    {
        flaskFields = flaskPanel.items.items[j].items.items;
        for(r = 0; r < flaskFields.length; r++)
        {
            flaskField = flaskFields[r];
            flaskField.height = firstFlask.items.items[r].getHeight();
        }
    }
    fieldSet.doLayout();
    for(j = 1; j < flaskPanel.items.items.length; j++)
    {
        flaskFields = flaskPanel.items.items[j].items.items;
        for(r = 0; r < flaskFields.length; r++)
        {
            flaskField = flaskFields[r];
            flaskField.inputEl.setHeight(firstFlask.items.items[r].inputEl.getHeight());
        }
    }
}

function adjustSizes(fieldSet)
{
    var form = Ext4.getCmp("upload-adaptation-form");
    adjustWidth(fieldSet);
    adjustHeight(fieldSet);
}

function handleDailyUpload(f, action)
{
    if (!action || !action.result) {
        Ext4.Msg.alert("Upload Failed", "Something went horribly wrong when uploading.");
        return;
    }
    if (!action.result.id) {
        Ext4.Msg.alert("Upload Failed", "Failed to upload the data file: " + action.result);
        return;
    }
    LABKEY.icemr.tracking.processDailyFileUpload(action.result, onDailyFileUploadSuccess);
}

function createFileUploadPanel()
{
    var uploadFormPanel = Ext4.create('Ext4.form.Panel', {
        id : 'uploadFormPanel',
        renderTo : Ext4.getBody(),
        frame : true,
        items : [{
            xtype : 'filefield',
            name : 'dailyUpload',
            inputId : 'fileInput',
            fieldLabel : 'Daily Upload',
            labelWidth : 95,
            width : 400,
            allowBlank : true,
            buttonText : 'Select file ...'
        },{
            xtype : 'fieldcontainer',
            layout : {
                type : 'hbox',
                pack : 'start',
                defaultMargins : '2'
            },
            items : [
                {
                    xtype   : 'button',
                    text    : 'Upload',
                    handler : function () {
                        var form = this.up('form').getForm();
                        form.submit ({
                            url: LABKEY.ActionURL.buildURL("assay", "assayFileUpload"),
                            waitMsg: 'Uploading file ...',
                            success : handleDailyUpload,
                            failure : handleDailyUpload
                        })
                    }
                }, {
                    xtype : 'hidden',
                    name : 'X-LABKEY-CSRF',
                    value: LABKEY.CSRF
                }
            ]
        }]
    });

    return uploadFormPanel;
}

function generateTemplateFile()
{
    //
    // pass in the measurement date from the form
    //
    var formCmp = Ext4.getCmp('upload-adaptation-form');
    var fields = formCmp.getForm().getFields();
    var measurementDate = fields.get('_' + LABKEY.icemr.tracking.measurementDate).getValue();
    measurementDate = LABKEY.icemr.stripTimeZoneDate(measurementDate);
    LABKEY.icemr.tracking.getDailyUploadTemplate(measurementDate);
}

function getHeaderRowConfig()
{
    var header = [];
    for (var i = 0; i < _runFieldConfigs.length; i++)
    {
        header.push({
            xtype : 'label',
            text : _runFieldConfigs[i].name,
            margin : '0 0 0 2',
            width: 150
        });
    }
    return header;
}

function getRunRowConfig(run, batchIdx)
{
    var row = [];
    for (var i = 0; i < _runFieldConfigs.length; i++)
    {
        var config = _runFieldConfigs[i];
        if (config.xtype == 'datefield')
        {
            config.value = new Date(run.properties[config.name]);
        }
        else
        {
            config.value = run.properties[config.name];
        }
        config.id = config.id + batchIdx;
        config.readOnly = true;
        config.hideLabel = true;
        row.push(config);
    }
    return row;
}

function getFlaskConfigs(flaskPanel, flaskNum, flaskId)
{
    var newArray = Ext4.clone(_resultFieldConfigs);
    for(var i = 0; i < newArray.length; i++)
    {
        newArray[i].id += flaskId;
//        newArray[i].name += flaskNum;
        // suppress the label of additional flasks
        if(flaskNum > 0)
        {
            newArray[i].fieldLabel = null;
        }
    }
    return newArray;
}

function getFlaskId(panelNum, flaskNum)
{
    return panelNum.toString() + flaskNum.toString();
}

function addFlask( flaskPanel, flaskNum, flaskId)
{
    var addCol = Ext4.create('Ext.form.FieldContainer', {
        id : 'flask ' + flaskId,
        layout : {
            type : 'vbox',
            defaultMargins : '2 10 2 10'
        },
        items : getFlaskConfigs(flaskPanel, flaskNum, flaskId)
    });
    flaskPanel.add(addCol);
}

function onRunDataReady(batches)
{
    //
    // fill in the values for our form and make the run data
    // read only.
    //
    var formRunFieldConfigs = [];
    var experiments = [];
    var i;

    for (i = 0; i < batches.length; i++)
    {
        //
        // build up the "Selected Experiments" part of our form
        //
        if (i == 0) {
            experiments.push(Ext4.create('Ext.form.FieldContainer', {
                layout : {
                    type : 'hbox',
                    defaultMargins : '0 0 0 0'
                },
                items : getHeaderRowConfig()
            }));
        }
        experiments.push(Ext4.create('Ext.form.FieldContainer', {
            layout : {
                type : 'hbox',
                defaultMargins : '0 0 0 0'
            },
            items : getRunRowConfig(batches[i].runs[0], i)
        }));
    }

    var expSelectPanel = Ext4.create('Ext.form.FieldContainer', {
        fieldLabel : 'Selected Experiments',
        layout : {
            type : 'vbox',
            defaultMargins : '1 0 1 0'
        },
        items : experiments
    });

    //
    // add a measurement date field that we'll use to generate
    // the template file
    //
    formRunFieldConfigs.push({
        xtype : 'datefield',
        id: '_' + LABKEY.icemr.tracking.measurementDate,
        fieldLabel : 'Maintenance Date',
        value : new Date()
    });

    formRunFieldConfigs.push({
        id      : 'templateButton',
        xtype   : 'button',
        text    : 'Get Template',
        handler : generateTemplateFile
    });

    // add all our items to the form panel now
    var formItems = [];

    // selected experiments
    formItems.push(expSelectPanel);

    // maintenance data and 'get template button'
    formItems.push({
                xtype : 'fieldcontainer',
                layout : {
                    type : 'vbox',
                    defaultMargins : '2 0 2 0'
                },
                items : formRunFieldConfigs
    });

    // template file upload panel
    formItems.push(createFileUploadPanel());

    // add a collapsible section for each experiment
    // which contains the flasks for each experiment
    for (i = 0; i < batches.length; i++)
    {
        var flaskPanel = Ext4.create('Ext.form.FieldContainer', {
            id : 'flaskPanel' + i,
            deferredRender : false,
            layout : {
                type : 'hbox',
                defaultMargins : '2 0 2 0'
            }
        });

        var flaskSet = Ext4.create('Ext.form.FieldSet', {
            id : 'experimentSet' + i,
            title: batches[i].runs[0].properties[LABKEY.icemr.tracking.experiment],
            experimentId: batches[i].runs[0].properties[LABKEY.icemr.tracking.experiment],
            hidden : true,
            collapsible : true,
            collapsed : true,
            items : [flaskPanel],
            listeners : {
                expand : function(fieldSet) {
                    adjustSizes(fieldSet)
                }
            }
        }) ;

        formItems.push(flaskSet);
    }

    formItems.push({
        xtype : 'fieldcontainer',
        layout : {
            type : 'hbox',
            pack : 'start',
            defaultMargins : '2'
        },
        items : [
            {
                id : 'submitButton',
                hidden : true,
                xtype   : 'button',
                text    : 'Submit',
                handler : submitDaily
            }, {
                id : 'cancelButton',
                xtype   : 'button',
                text    : 'Cancel',
                handler : goBack
            }, {
                xtype : 'hidden',
                name : 'X-LABKEY-CSRF',
                value: LABKEY.CSRF
            }
        ]
    });

    //
    // Create our form with two containers to separate
    // the flask properties data for each flask
    //
    _formPanel = Ext4.create('Ext.form.Panel', {
        renderTo: 'upload-adaptation-div',
        id      : 'upload-adaptation-form',
        width : 600,
        defaults: {
            validationEvent: false,
            allowBlank : false,
            style : { margin: '2 0 2 0' },
            labelAlign : 'left',
            labelWidth : 100
        },
        method : 'POST',
        enctype :'multipart/form-data',
        border : false,
        stateful : false,
        autoHeight : true,
        frame : true,
        items : formItems
    });
}
</script>