<div id='flasks-div'></div>
<p>
    <a href='javascript:done()' class='labkey-button'>
        <span>Done</span>
    </a>
</p>
<script type="text/javascript">
function done()
{
    window.history.back();
}

function init()
{
    var params = LABKEY.ActionURL.getParameters();
    //
    // Choose the appropriate query depending on whether this
    // tracking assay is "Culture Adaptation" or "Drug Selection"
    //
    var schemaName = params["schemaName"];
    LABKEY.icemr.tracking.setInterface(schemaName);

    var qwp = new LABKEY.QueryWebPart({
        renderTo   : 'flasks-div',
        schemaName : schemaName,
        queryName  : LABKEY.icemr.tracking.interface.getCalcQuery(),
        timeout: Ext4.Ajax.timeout,
        frame : 'none',
        removeableFilters    : [ LABKEY.Filter.create("SampleID", params["sampleId"])]
    });
}

Ext4.onReady(function() {
    init();
});
</script>