<div id="icemrvis"></div>
<script type="text/javascript">
function buildEqFilter(name, value)
{
    var filter;

    if (value)
        filter = LABKEY.Filter.create(name, value, LABKEY.Filter.getFilterTypeForURLSuffix('eq'));
    else
        filter = LABKEY.Filter.create(name, LABKEY.Filter.NOT_MISSING);

    return filter;
}

Ext4.onReady(function(){
    var dataFilters = [];
    var patientFilter;
    var params = LABKEY.ActionURL.getParameters();

    LABKEY.icemr.tracking.setInterface(params.schemaName);

    patientFilter = buildEqFilter(LABKEY.icemr.tracking.patient, params.patientId);
    dataFilters.push(patientFilter);
    dataFilters.push(buildEqFilter(LABKEY.icemr.tracking.experiment, params.experimentId)) ;

    if (params['filterUrl']){
        var userFilters = LABKEY.Filter.getFiltersFromUrl(params['filterUrl']);
        for (var i = 0; i < userFilters.length; i++)
            dataFilters.push(userFilters[i]);
    }

    var storeFoldIncreases = function(rows){
        var values = {};
        for(var i = 0; i < rows.length; i++){
            var sample = values[rows[i].SampleID] = {},
                row = rows[i],
                foldIncrease1 = null,
                foldIncrease2 = null,
                foldIncrease3 = null;

            if(row.StartParasitemia1 && row.FinishParasitemia1){
                foldIncrease1 = row.FinishParasitemia1 / row.StartParasitemia1;
            }

            if(row.StartParasitemia2 && row.FinishParasitemia2){
                foldIncrease2 = row.FinishParasitemia2 / row.StartParasitemia2;
            }

            if(row.StartParasitemia3 && row.FinishParasitemia3){
                foldIncrease3 = row.FinishParasitemia3 / row.StartParasitemia3;
            }
            
            sample.FoldIncrease1 = foldIncrease1;
            sample.FoldIncrease2 = foldIncrease2;
            sample.FoldIncrease3 = foldIncrease3;
        }

        return values;
    };

    var createPanel = function(foldIncreases, params, dataFilters){
        var schemaName = params.schemaName;
        var queryName = LABKEY.icemr.tracking.interface.getVisQuery();
        var cbGroup = Ext4.create('Ext.form.CheckboxGroup', {
            fieldLabel: 'Hover Variables',
            vertical: true,
            columns: 1,
            labelWidth: 125,
            items: [
                {boxLabel: 'Parasitemia', name: 'hoverVariables', inputValue: 'parasitemia', checked: true},
                {boxLabel: 'Split Performed', name: 'hoverVariables', inputValue: 'splitPerformed'},
                {boxLabel: 'Sample Stored', name: 'hoverVariables', inputValue: 'sampleStored'},
                {boxLabel: 'Start Growth Fold Test', name: 'hoverVariables', inputValue: 'startGrowth'},
                {boxLabel: 'End Growth Fold Test', name: 'hoverVariables', inputValue: 'endGrowth'},
                {boxLabel: 'Contamination', name: 'hoverVariables', inputValue: 'contamination'}
            ]
        });

        var ICEMRPanel = Ext4.create('LABKEY.vis.GenericOptionsPanel', {
            items: [cbGroup]
        });

        ICEMRPanel.getPanelOptionValues = function(){
            var cbValue = cbGroup.getValue();
            if(cbValue.hoverVariables instanceof Array){
                return cbValue;
            }
            return {hoverVariables: [cbValue.hoverVariables]};
        };

        var ICEMRWindow = Ext4.create('Ext.window.Window', {
            title: "ICEMR Customization",
            width: 400,
            border: false,
            items: [ICEMRPanel],
            closeAction: 'hide',
            modal: true,
            buttons: [{text: 'ok', handler: function(){
                ICEMRWindow.close();
                panel.chartDefinitionChanged.delay(250);
            }}, {text: 'cancel', handler: function(){
                ICEMRWindow.close();
            }}]
        });

        var ICEMRHandler = function(){
            ICEMRWindow.show();
        };

        var hoverLayers = {
            parasitemia: function(aes){
                var layerConfig = {
                    geom: new LABKEY.vis.Geom.Point(),
                    aes: {
                        shape: function(row){return 'Parasitemia'},
                        hoverText: function(row){
                            var text = row.PatientID.value + "\n";
                            text += "SampleID: " + row.SampleID.value + "\n";
                            text += "Parasitemia(%): " + row.Parasitemia.value + "\n";
                            return text;
                        }
                    }
                };

                return layerConfig;
            },
            splitPerformed: function(aes){
                var layerConfig = {
                    geom: new LABKEY.vis.Geom.Point(),
                    aes: {
                        y: function(row){
                            if(row.Removed && row.Removed.value){
                                return aes.y(row);
                            }
                            return null;
                        },
                        shape: function(row){return 'Split Performed'},
                        hoverText: function(row){
                            var text = row.PatientID.value + "\n";
                            text += "SampleID: " + row.SampleID.value + "\n";
                            text += "Parasitemia(%): " + row.Parasitemia.value + "\n";

                            if(row.Removed && row.Removed.value){
                                text += "Removed(%): " + row.Removed.value + "\n";
                            }

                            return text;
                        }
                    }
                };

                if(aes.color){
                    layerConfig.aes.color = aes.color;
                }

                return layerConfig;
            },
            sampleStored: function(aes){
                var layerConfig = {
                    geom: new LABKEY.vis.Geom.Point(),
                    aes: {
                        y: function(row){
                            if(row.FeezerProIDS && row.FeezerProIDS.value){
                                return aes.y(row);
                            }
                            return null;
                        },
                        shape: function(row){return 'Sample Stored'},
                        hoverText: function(row){
                            var text = row.PatientID.value + "\n";
                            text += "SampleID: " + row.SampleID.value + "\n";
                            text += "Parasitemia(%): " + row.Parasitemia.value + "\n";

                            if(row.FeezerProIDS && row.FeezerProIDS.value){
                                text += "FeezerPro IDs: " + row.FeezerProIDS.value; // This might need to be changed to FreezerProIDS
                            }

                            return text;
                        }
                    }
                };

                if(aes.color){
                    layerConfig.aes.color = aes.color;
                }

                return layerConfig;
            },
            startGrowth: function(aes){
                var layerConfig = {
                    geom: new LABKEY.vis.Geom.Point(),
                    aes: {
                        y: function(row){
                            if(row.GrowthFoldTestInitiated && row.GrowthFoldTestInitiated.value){
                                return aes.y(row);
                            }
                            return null;
                        },
                        shape: function(row){return 'Growth Test Initiated'},
                        hoverText: function(row){
                            var text = row.PatientID.value + "\n";
                            text += "SampleID: " + row.SampleID.value + "\n";
                            text += "Parasitemia(%): " + row.Parasitemia.value + "\n";

                            if(row.GrowthFoldTestInitiated && row.GrowthFoldTestInitiated.value){
                                text += "Test : " + row.GrowthFoldTestInitiated.value;
                            }

                            return text;
                        }
                    }
                };

                if(aes.color){
                    layerConfig.aes.color = aes.color;
                }

                return layerConfig;
            },
            endGrowth: function(aes, foldIncreases){
                var layerConfig = {
                    geom: new LABKEY.vis.Geom.Point(),
                    aes: {
                        y: function(row){
                            if(row.GrowthFoldTestFinished && row.GrowthFoldTestFinished.value){
                                return aes.y(row);
                            }
                            return null;
                        },
                        shape: function(row){return 'Growth Test Finished'},
                        hoverText: function(row){
                            var text = row.PatientID.value + "\n";
                            text += "SampleID: " + row.SampleID.value + "\n";
                            text += "Parasitemia(%): " + row.Parasitemia.value + "\n";

                            if(row.GrowthFoldTestFinished && row.GrowthFoldTestFinished.value){
                                var testNum = row.GrowthFoldTestFinished.value;
                                text += "Test : " + testNum + "\n";
                                
                                if(foldIncreases[row.SampleID.value] && foldIncreases[row.SampleID.value]['FoldIncrease'+testNum]){
                                    text += "Fold Increase: " + foldIncreases[row.SampleID.value]['FoldIncrease'+testNum] + "\n";
                                }
                            }

                            return text;
                        }
                    }
                };

                if(aes.color){
                    layerConfig.aes.color = aes.color;
                }

                return layerConfig;
            },
            contamination: function(aes){
                var layerConfig = {
                    geom: new LABKEY.vis.Geom.Point(),
                    aes: {
                        y: function(row){
                            if(row.Contamination && row.Contamination.hasOwnProperty('value') && row.Contamination.value === true){
                                return aes.y(row);
                            }
                            return null;
                        },
                        shape: function(row){return 'Contamination'},
                        hoverText: function(row){
                            var text = row.PatientID.value + "\n";
                            text += "SampleID: " + row.SampleID.value + "\n";
                            text += "Parasitemia(%): " + row.Parasitemia.value + "\n";

                            if(row.Contamination && row.Contamination.hasOwnProperty('value')){
                                var rowVal = row.Contamination.value;
                                text += "Contamination: " + (rowVal === true ? "Yes" : "No");
                            }

                            return text;
                        }
                    }
                };

                if(aes.color){
                    layerConfig.aes.color = aes.color;
                }

                return layerConfig;
            },
            other: function(measures, aes){
                var layerConfig = {
                    geom: new LABKEY.vis.Geom.Point(),
                    aes: {
                        hoverText: function(row){
                            var text = row.PatientID.value + "\n";
                            text += "SampleID: " + row.SampleID.value + "\n";
                            text += measures.y.label + ": " + aes.y(row) + "\n";

                            return text;
                        }
                    }
                };

                if(aes.color){
                    layerConfig.aes.color = aes.color;
                }

                return layerConfig;
            }
        };

        var panel = Ext4.create('LABKEY.ext4.GenericChartPanel', {
            renderTo: 'icemrvis',
            height: 600,
            reportId: null,
            renderType: 'ICEMR',
            schemaName: schemaName,
            queryName: queryName,
            canEdit: true,
            hideSave: true,
            allowShare: false,
            isDeveloper: false,
            allowEditMode: true,
            autoColumnXName: 'DateIndex',
            autoColumnYName: 'Parasitemia',
            defaultNumberFormat: Ext.util.Format.numberRenderer('0.00'),
            userFilters: dataFilters,
            defaultTitleFn: function(){
                return "Parasitemia";
            },
            customButtons: [Ext4.create('Ext.button.Button', {text: 'ICEMR', handler: ICEMRHandler})],
            getCustomChartOptions: function(scope){
                return {ICEMR: ICEMRPanel.getPanelOptionValues()};
            },
            customRenderTypes: {
                ICEMR: {
                    label: "ICEMR Line Plot",
                    fields: [
                        {name: 'x', label: 'X Axis', required: true}, //, nonNumericOnly: true
                        {name: 'y', label: 'Y Axis', required: true, numericOnly: true}
                    ],
                    generatePlotConfig: function(scope, chartConfig, renderTo, width, height, data, aes, scales, labels){
                        // We're cheating a bit here since we could override the generateScales and generateAes functions,
                        // however we only want to alter the color aesthetic and x scale, so we manipulate it here instead.
                        aes.color = function(row){return row.SampleID.value};
                        aes.pathColor = function(rows){return rows[0].SampleID.value};
                        scales.x.tickFormat = function(val){
                            if(val !== null && val !== undefined){
                                return "Day " + val;
                            }
                            return '';
                        };
                        scales.x.scaleType = 'discrete';

                        var measures = chartConfig.measures;
                        var layers = [];
                        var groupAcc = function(row){return row.SampleID.value};
                        var pathGeom = new LABKEY.vis.Geom.Path({});
                        var customOptions = chartConfig.customOptions;
                        var pathLayerConfig = {
                            geom: pathGeom,
                            data: data,
                            aes: {
                                group: groupAcc
                            }
                        };

                        layers.push(new LABKEY.vis.Layer(pathLayerConfig));

                        if(measures.y.name == "Parasitemia" && customOptions.ICEMR.hoverVariables && customOptions.ICEMR.hoverVariables.length > 0){
                            for(var i = 0; i < customOptions.ICEMR.hoverVariables.length; i++){
                                var hoverVariable = customOptions.ICEMR.hoverVariables[i];
                                if(hoverVariable == 'endGrowth'){
                                    layers.push(new LABKEY.vis.Layer(hoverLayers[hoverVariable](aes, foldIncreases)));
                                } else if(hoverLayers[hoverVariable]){
                                    layers.push(new LABKEY.vis.Layer(hoverLayers[hoverVariable](aes)));
                                }
                            }
                        } else {
                            layers.push(new LABKEY.vis.Layer(hoverLayers.other(measures, aes)));
                        }

                        return {
                            renderTo: renderTo,
                            width: width,
                            height: height,
                            labels: labels,
                            scales: scales,
                            aes: aes,
                            data: data,
                            layers: layers
                        };
                    }
                }
            }
        });

        var resize = function() {
            if (panel && panel.doLayout) { panel.doLayout(); }
        };

        Ext4.EventManager.onWindowResize(resize);
    };

    // SelectRows to get fold increase values.
    LABKEY.Query.selectRows({
        schemaName: "Samples",
        queryName: LABKEY.icemr.tracking.interface.getFlasksSampleSetName(),
        filterArray: [patientFilter],
        success: function(results){
            var foldIncreases = storeFoldIncreases(results.rows);
            createPanel(foldIncreases, params, dataFilters);
        },
        failure: function(response){
            createPanel({}, params, dataFilters);
        }
    });
});
</script>