<ap:provider xmlns:ap="http://labkey.org/study/assay/xml">
    <ap:name>ICEMR Flask Tracking</ap:name>
    <ap:description>Enables entry of a set of initial samples and then tracks their progress over time via a series of daily measurements.</ap:description>
    <ap:saveHandler>TrackingSaveHandler</ap:saveHandler>
    <ap:fieldKeys>
        <ap:participantId>Run/PatientId</ap:participantId>
        <ap:date>MeasurementDate</ap:date>
    </ap:fieldKeys>
</ap:provider>